<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
		<appSettings>
			<!--<add key="InitialUrl" value="http://www.nprdv.ru"/>
			<add key="CheckUrl" value="http://www.nprdv.ru/Objects/CheckObjects"/>-->
      <add key="InitialUrl" value="http://rdv-prod.azurewebsites.net"/>
			<add key="CheckUrl" value="http://rdv-prod.azurewebsites.net/Objects/CheckObjects"/>
			<add key="Delay" value="4000"/>
		</appSettings>
</configuration>