@model dynamic
<table class="properties-sections" width="98%">
    <tbody>
        <tr>
            <td>
                <div id="service-properties" section="service">
                    Сервисные
                </div>
            </td>
            <td>
                <div id="location-properties" section="location">
                    Местоположение
                </div>
            </td>
            <td>
                <div id="tech-properties" section="tech">
                    Технические
                </div>
            </td>
            <td>
                <div id="infrastructure-properties" section="infrastructure">
                    Инфраструктура
                </div>
            </td>
            <td>
                <div id="expluatation-properties" section="expluatation">
                    Эксплуатационные
                </div>
            </td>
            <td>
                <div id="legal-properties" section="legal">
                    Юридические
                </div>
            </td>
            <td>
                <div id="system-properties" section="main">
                    Системные
                </div>
            </td>
            <td>
                <div id="media-properties" section="media">
                    Фото видео
                </div>
            </td>
        </tr>
    </tbody>
</table>
