@model IList<RDV.Domain.Entities.User>

<select id="agent-names-field" multiple="multiple" class="round field">
    @foreach(var agent in Model)
    {
        <option value="@agent.Id">@agent.LastName&nbsp;@agent.FirstName</option>
    }
</select>