<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://rdv-prod.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>rdv-prod.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>rdv-prod</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$rdv-prod</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="Main" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:zb4y9whtdk.database.windows.net,1433;Initial Catalog=RDV_prod2;Integrated Security=False;User ID=raskarov@zb4y9whtdk;Password=PtUjRfFg3!;Connect Timeout=30;Encrypt=True" Name="Server=tcp:zb4y9whtdk.database.windows.net,1433;Database=RDV_prod2;User ID=raskarov@zb4y9whtdk;Password=PtUjRfFg3!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;Initial Catalog=RDV2;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Main_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLEXPRESS;Initial Catalog=RDV2;Integrated security=true;MultipleActiveResultSets=false" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Main-Web.config Connection String">
      <ParameterValue>server=tcp:zb4y9whtdk.database.windows.net,1433;database=RDV_prod2;user id=raskarov@zb4y9whtdk;password=PtUjRfFg3!;trusted_connection=False;encrypt=True;connection timeout=30;MultipleActiveResultSets=false</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>