<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Повторная регистрация на сайте РДВ</title>
</head>
    <body>
        Здравствуйте. ${DirectorFirstName} ${DirectorSurName}, <br/>
        вы получили это письмо, потому что ${BadUserLastName} ${BadUserFirstName} ${BadUserSurName} повторно зарегистрировалcя на сайте <a href="http://nprdv.ru">НП Риэлторов Дальнего Востока</a> в вашей компании.<br/>
        Подробную информацию о нем, вы можете найти <a href="${BadUserProfileUrl}">тут</a>.
    </body>
</html>
