<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Изменение пароля на сайте РДВ</title>
</head>
    <body>
        Здравствуйте ${FirstName} ${SurName}, <br/>
        вы получили это письмо, потому что запросили изменение пароля на выход в личный кабинет на сайте <a href="http://nprdv.ru">НП Риэлторов Дальнего Востока</a>.<br/>
        Ваши регистрационные данные следующие:<br/>
        <b>Логин</b>: ${Email}<br/>
        <b>Новый пароль</b>: ${NewPassword}
        <div>
            Если вы не запрашивали изменение пароля на сайте, то значит кто то сделал это за вас. Настоятельно рекомендуем вам зайти в личный кабинет и изменить пароль еще раз.
        </div>
    </body>
</html>
