<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Регистрация на сайте РДВ</title>
</head>
<body>
    Здравствуйте ${FirstName} ${SurName},
    <br />
    вы получили это письмо, потому что зарегистрированный вами объект <a href="http://nprdv.ru/objects/${ObjectId}/card">
        №${ObjectId}</a> на сайте <a href="http://nprdv.ru">НП Риэлторов Дальнего Востока</a>
    был отложен до <b>${DelayedDate}</b> и просрочен на неделю. Пожалуйста, войдите на сайт и измените ему статус на <b>Активен</b> или Снят с <b>продажи</b>, иначе система сделает это автоматически.
</body>
</html>