<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Восстановление пароля</title>
</head>
    <body>
        Здравствуйте ${FirstName} ${SurName}, <br/>
        вы получили это письмо, потому что запросили восстановление пароля на доступ в личный кабинет на сайте <a href="http://nprdv.ru">НП Риэлторов Дальнего Востока</a>.<br/>
        Для восстановления пройдите по ссылке: <a href="http://www.nprdv.ru/account/remember?email=${Email}">http://new.nprdv.ru/account/restore</a> и введите секретный код: <b>${PasswordCode}</b>
        <div>
            Если вы не запрашивали восстановление пароля, то видимо кто-то сделал это за вас, просто проигнорируйте это письмо.
        </div>
    </body>
</html>
