<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Регистрация на сайте РДВ</title>
</head>
    <body>
        Здравствуйте. <br/>
        вы получили это письмо, потому что ${LastName} ${FirstName} ${SurName} зарегистрировалcs на сайте <a href="http://nprdv.ru">НП Риэлторов Дальнего Востока</a>.<br/>
        <div>
            Для того, чтобы ${FirstName} ${SurName} мог пользоваться функциональностью системы, пожалуйста активируйте его через <a href="http://www.nprdv.ru/account/company/members">список сотрудников</a> своей компании, либо вы можете активировать его автоматически, нажав на <a href="${ActivationLink}">эту ссылку</a>.
        </div>
    </body>
</html>
