<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Регистрация на сайте РДВ</title>
</head>
    <body>
        Здравствуйте ${FirstName} ${SurName}, <br/>
        вы получили это письмо, потому что зарегистрировались на сайте <a href="http://nprdv.ru">НП Риэлторов Дальнего Востока</a>.<br/>
        Ваши регистрационные данные следующие:<br/>
        <b>Логин</b>: ${Email}<br/>
        <b>Пароль</b>: ${Password}
        <div>
            Если вы не регистрировались на сайте, то просто проигнорируйте данное письмо.
        </div>
    </body>
</html>
