<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Изменение цены на отклоненный объект</title>
</head>
<body>
    Уважаемый ${Name}, <br/>
    вы получили это письмо потому что на ранее отклоненный вами объект №${ObjectId} по адресу: <a href="http://www.nprdv.ru/objects/${ObjectId}/card">${Address}</a> по поисковому запросу <b>${RequestName}</b> была снижена цена и теперь составляет ${NewPrice} рублей (было ${OldPrice} рублей).
</body>
</html>

