<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Заказ звонка</title>
</head>
<body>
    Здравствуйте ${FirstName} ${SurName},
    <br />
    вы получили это письмо, потому что пользователь оставил заявку на осмотр зарегистрированного вами объекта <a href="http://nprdv.ru/objects/${Id}/card">
        №${Id}</a> на сайте <a href="http://nprdv.ru">НП Риэлторов Дальнего Востока</a> на ${ViewDate}. Просим вас связаться с данным пользователем по номеру ${Phone} (${Name}).
</body>
</html>