@model dynamic

@{
    ViewBag.Title = "Special offer";
    Layout = "~/Views/Shared/_LayoutCh.cshtml";
}

<div style="margin: 15px 0px">
    尊敬的同事们，大家好！<br/>
    作为主人的利益的独家权利代表者，我们提供您考虑这种出价购买鱼类加工企业的综合物业，位于在俄罗斯的哈巴罗夫斯克。该物业建筑群目前用于鱼产品加工和生产。这将是一个非常适合于加工生产其他产品，如肉类或家禽拓展您的业务。<br/>
    提供出售的生产基地/综合物业位于马太伟业丝克大路的第一道防线，离哈巴罗夫斯克，俄罗斯的机场900米。
</div>
<div class="btitle">
    Facility complex
</div>
<div class="block">
    @* Изоплан базы *@
    <div id="izoplan-column">
        <div class="ytitle">
            Plan
        </div>
        <div id="izoplan" class="">
            <img src="/Content/images/photos/small/Изоплан_оконч.png" />
        </div>
    </div>
    @* Карта расположения *@
    <div id="map-column">
        <div class="ytitle">
            Map
        </div>
        <div id="map">
        </div>
    </div>
</div>
@* 3D тур *@
<div id="tour">
    <iframe src="http://www.girocam.com/tours/embed/035a35e53770/0/1" width="960" height="325"
        frameborder="0"></iframe>
</div>
@* Подобъекты *@
<div class="content-block">
    <div class="content-block-title">
        综合物业包括
    </div>
    @* Объект 1 *@
    <div class="sub-object">
        <div class="sub-object-title">
            地块
        </div>
        <div class="sub-object-gallery">
            <div class="sub-object-section">
                <div class="sub-object-gallery-title">
                    Plans
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/ЗУ/Планы/План%20участков%20с%20легендой.png" />
                </div>
                <div class="sub-object-gallery-item">
                </div>
                <div class="sub-object-gallery-item">
                </div>
                <div class="sub-object-gallery-item">
                </div>
                <div class="sub-object-gallery-item">
                </div>
            </div>
        </div>
        <div class="sub-object-description">
            <p>
                Total area/rights:
                <br />
                <b>5305/ownership
                    <br />
                    1191/rent (city)
                    <br />
                    &asymp; 560/rent (state)
                    <br />
                    &Sigma; &asymp; 7056</b>
            </p>
            <p>
                地块，拥有和租用的，与0.7公顷总面积。境内被封闭了混凝土围栏。基地有两个出入口都被把守。
            </p>
            <p>
                <b>All communications are connected</b>
            </p>
        </div>
    </div>
    @* Объект 2 *@
    <div class="sub-object">
        <div class="sub-object-title">
            Common building
        </div>
        <div class="sub-object-gallery">
            <div class="sub-object-section">
                <div class="sub-object-gallery-title">
                    Photo
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Здание/Фото/Здание_1_изменение%20размера.JPG" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Здание/Фото/Здание_2_изменение%20размера.JPG" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Здание/Фото/Здание_3_изменение%20размера.jpg" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Здание/Фото/Здание_4_изменение%20размера.jpg" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Здание/Фото/Здание_5_изменение%20размера.JPG" />
                </div>
            </div>
            <div class="sub-object-section">
                <div class="sub-object-gallery-title">
                    Photo
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Здание/Фото/Внутри%20здания_1_изменение%20размера.JPG" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Здание/Фото/Внутри%20здания_2_изменение%20размера.JPG" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Здание/Фото/Внутри%20здания_3_изменение%20размера.JPG" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Здание/Фото/Внутри%20здания_4_изменение%20размера.JPG" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Здание/Фото/Внутри%20здания_5_изменение%20размера.JPG" />
                </div>
            </div>
            <div class="sub-object-section">
                <div class="sub-object-gallery-title">
                    Plans
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Здание/Планы/План%201%20этажа.png" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Здание/Планы/План%202%20этажа.png" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Здание/Планы/План%203%20этажа.png" />
                </div>
                <div class="sub-object-gallery-item">
                </div>
                <div class="sub-object-gallery-item">
                </div>
            </div>
        </div>
        <div class="sub-object-description">
            <p>
                Year of built: <b>1977</b><br />
                Run out: <b>5%</b><br />
                Total area: <b>1460 кв.м.</b><br />
                Total floors: <b>3</b><br />
                Meterial: <b>bricks</b><br />
                Roof: <b>combined, roll</b>
            </p>
            <p>
                公共建筑（面积1460平方米）。这种资本的红砖建筑最初被设计为一个宿舍，并已依法当前改组为安装的加工设备进行加工和食品生产单位。该建筑的技术条件是非常好的，并与所有的中央通信系统。<br/><br/><br/>
            </p>
        </div>
    </div>
    @* Объект 5 *@
    <div class="sub-object">
        <div class="sub-object-title">
            Refrigerating containers 
        </div>
        <div class="sub-object-gallery">
            <div class="sub-object-section">
                <div class="sub-object-gallery-title">
                    Photo
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Рефрижератор/Фото/Рефрижератор_1_изменение%20размера.JPG" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Рефрижератор/Фото/Рефрижератор_2_изменение%20размера.JPG" />
                </div>
                <div class="sub-object-gallery-item">
                </div>
                <div class="sub-object-gallery-item">
                </div>
                <div class="sub-object-gallery-item">
                </div>
            </div>
        </div>
        <div class="sub-object-description">
            <p>
                Total area: <b>&asymp; 40 кв.м.</b><br />
                Height: <b>2,3 м.</b>
            </p>
            <p>
                冷藏集装箱，产品总容量400吨左右。
            </p>
        </div>
    </div>
    @* Объект 6 *@
    <div class="sub-object">
        <div class="sub-object-title">
            Commercial elevators
        </div>
        <div class="sub-object-gallery">
            <div class="sub-object-section">
                <div class="sub-object-gallery-title">
                    Photo
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Подъемники/Фото/Подъемники_1_изменение%20размера.JPG" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Подъемники/Фото/Подъемники_2_изменение%20размера.JPG" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Подъемники/Фото/Подъемники_3_изменение%20размера.JPG" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Подъемники/Фото/Подъемники_4_изменение%20размера.JPG" />
                </div>
                <div class="sub-object-gallery-item">
                </div>
            </div>
        </div>
        <div class="sub-object-description">
            <p>
                Max weight: <b>1 и 0,5 tons</b><br />
                Elevation height: <b>7,5 meters. (up to the third floor)</b>
            </p>
            <p>
                工业电梯在公共建筑的反面，容量 0.5吨和1吨。
            </p>
        </div>
    </div>
    @* Объект 7 *@
    <div class="sub-object">
        <div class="sub-object-title">
            Transformators
        </div>
        <div class="sub-object-gallery">
            <div class="sub-object-section">
                <div class="sub-object-gallery-title">
                    Photo
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/ТП/Фото/ТП_1_изменение%20размера.jpg" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/ТП/Фото/ТП_2_изменение%20размера.jpg" />
                </div>
                <div class="sub-object-gallery-item">
                </div>
                <div class="sub-object-gallery-item">
                </div>
                <div class="sub-object-gallery-item">
                </div>
            </div>
        </div>
        <div class="sub-object-description">
            <p>
                Power: <b>400 кВА</b><br />
                Limits: <b>up to 200 кВт</b>
            </p>
        </div>
    </div>
    @* Объект 8 *@
    <div class="sub-object">
        <div class="sub-object-title">
            Overpass car (Э)
        </div>
        <div class="sub-object-gallery">
            <div class="sub-object-section">
                <div class="sub-object-gallery-title">
                    Photo
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Эстакада/Фото/Эстакада_изменение%20размера.JPG" />
                </div>
                <div class="sub-object-gallery-item">
                </div>
                <div class="sub-object-gallery-item">
                </div>
                <div class="sub-object-gallery-item">
                </div>
                <div class="sub-object-gallery-item">
                </div>
            </div>
        </div>
        <div class="sub-object-description">
            <p>
                Material: <b>concrete blocks</b>
            </p>
            <p>
                There are no description available
            </p>
        </div>
    </div>
    @* Объект 9 *@
    <div class="sub-object">
        <div class="sub-object-title">
            Additional
        </div>
        <div class="sub-object-gallery">
            <div class="sub-object-section">
                <div class="sub-object-gallery-title">
                    Photo
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Бытовка/Фото/Бытовка_1_изменение%20размера.JPG" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Бытовка/Фото/Бытовка_2_изменение%20размера.JPG" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Сторожевой%20вагончик/Фото/Сторожевой%20вагончик_1_изменение%20размера.JPG" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Сторожевой%20вагончик/Фото/Сторожевой%20вагончик_2_изменение%20размера.JPG" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Загон%20для%20собак/Фото/Загон%20для%20собак_изменение%20размера.JPG" />
                </div>
            </div>
        </div>
        <div class="sub-object-description">
            <p>
                Besides, the territory includes some supportive constructions, lodges, an overpass, etc. 
            </p>
        </div>
    </div>
</div>
<script src="http://api-maps.yandex.ru/2.0/?load=package.full&mode=debug&lang=ru-RU"
    type="text/javascript"></script>
<script type="text/javascript">

    var map = null;

    /* При успешной загрузке API выполняется
    соответствующая функция */
    ymaps.ready(function () {
        // Инициализация яндекс карт
        map = new ymaps.Map("map", {
            center: [48.534243, 135.177541],
            zoom: 14,
            type: "yandex#map"
        });

        var khvMarker = new ymaps.Placemark([48.534243, 135.177541], { balloonContent: "Матвеевское шоссе 41" }, { preset: "twirl#greenDotIcon" });
        map.geoObjects.add(khvMarker);

        map.controls.add("mapTools").add("zoomControl").add("typeSelector");
    });

    $(".sub-object-gallery-item img").click(function () {
        var idx = $(this).parent().index()-1;
        var items = [];
        $(this).parent().parent().find("img").each(function (index, item) {
            items.push({ href: $(item).attr("src").replace("small/", "") });
        });
        $.fancybox.open(items, {index: idx});
    });
    $("#izoplan img").click(function () {
        $.fancybox.open({ href: $(this).attr("src").replace("small/", "") });
    });
    
    
</script>
