@{
    ViewBag.Title = "Специальное предложение";
}
<div class="btitle">
    Производственная база в районе аэропорта
</div>
<div class="block">
    @* Изоплан базы *@
    <div id="izoplan-column">
        <div class="ytitle">
            План Базы
        </div>
        <div id="izoplan" class="">
            <img src="/Content/images/photos/small/Изоплан_оконч.png" />
        </div>
    </div>
    @* Карта расположения *@
    <div id="map-column">
        <div class="ytitle">
            Карта
        </div>
        <div id="map">
        </div>
    </div>
</div>
@* 3D тур *@
<div id="tour">
    <iframe src="http://www.girocam.com/tours/embed/035a35e53770/0/1" width="960" height="325"
        frameborder="0"></iframe>
</div>
@* Подобъекты *@
<div class="content-block">
    <div class="content-block-title">
        Состав имущественного комплекса
    </div>
    @* Объект 1 *@
    <div class="sub-object">
        <div class="sub-object-title">
            Земельные участки
        </div>
        <div class="sub-object-gallery">
            <div class="sub-object-section">
                <div class="sub-object-gallery-title">
                    Планы
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/ЗУ/Планы/План%20участков%20с%20легендой.png" />
                </div>
                <div class="sub-object-gallery-item">
                </div>
                <div class="sub-object-gallery-item">
                </div>
                <div class="sub-object-gallery-item">
                </div>
                <div class="sub-object-gallery-item">
                </div>
            </div>
        </div>
        <div class="sub-object-description">
            <p>
                Общая площадь/право:
                <br />
                <b>5305/собственность
                    <br />
                    1191/аренда (город)
                    <br />
                    &asymp; 560/аренда (край)
                    <br />
                    &Sigma; &asymp; 7056</b>
            </p>
            <p>
                Земельные участки расположены на первой линии от Матвеевского шоссе в 900 м. от
                Хабаровского аэропорта. Территория огорожена бетонным забором. Предусмотрены ворота
                со стороны шоссе и с северо-восточной стороны. С северо-западной и юго-западной
                стороны участки граничат с другими базами, территория которых охраняема. Большая
                часть территории участка забетонирована. Организовано качественное отведение сточных
                вод, что обеспечивает чистоту на территории базы.
            </p>
            <p>
                <b>Участок обеспечивается всеми централизованными коммуникациями.</b>
            </p>
        </div>
    </div>
    @* Объект 2 *@
    <div class="sub-object">
        <div class="sub-object-title">
            Здание бытового корпуса (БК)
        </div>
        <div class="sub-object-gallery">
            <div class="sub-object-section">
                <div class="sub-object-gallery-title">
                    Фото
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Здание/Фото/Здание_1_изменение%20размера.JPG" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Здание/Фото/Здание_2_изменение%20размера.JPG" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Здание/Фото/Здание_3_изменение%20размера.jpg" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Здание/Фото/Здание_4_изменение%20размера.jpg" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Здание/Фото/Здание_5_изменение%20размера.JPG" />
                </div>
            </div>
            <div class="sub-object-section">
                <div class="sub-object-gallery-title">
                    Фото
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Здание/Фото/Внутри%20здания_1_изменение%20размера.JPG" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Здание/Фото/Внутри%20здания_2_изменение%20размера.JPG" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Здание/Фото/Внутри%20здания_3_изменение%20размера.JPG" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Здание/Фото/Внутри%20здания_4_изменение%20размера.JPG" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Здание/Фото/Внутри%20здания_5_изменение%20размера.JPG" />
                </div>
            </div>
            <div class="sub-object-section">
                <div class="sub-object-gallery-title">
                    Планы
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Здание/Планы/План%201%20этажа.png" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Здание/Планы/План%202%20этажа.png" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Здание/Планы/План%203%20этажа.png" />
                </div>
                <div class="sub-object-gallery-item">
                </div>
                <div class="sub-object-gallery-item">
                </div>
            </div>
        </div>
        <div class="sub-object-description">
            <p>
                Год постройки: <b>1977</b><br />
                Износ (по ТП): <b>5%</b><br />
                Общая площадь: <b>1460 кв.м.</b><br />
                Этажность: <b>3</b><br />
                Материал постройки: <b>кирпич</b><br />
                Кровля: <b>совмещенная, рулонная</b>
            </p>
            <p>
                Здание бытового корпуса проектировалось как общежитие с соответствующей планировкой
                комнат. В настоящее время планировка помещений частично изменена (согласованно)
                под производство продуктов питания. На первом этаже организованы ворота (3х2) для
                разгрузки автомобилей. Предусмотрены помещения для обслуживающего персонала, рабочие
                кабинеты, раздевалки и душевые комнаты. Часть помещений оборудована кондиционерами.
            </p>
            <p>
                Конструкционный тип здания – с несущими кирпичными стенами с ж/б перекрытиями. Регулярное
                обслуживание здания, кровли, отмостки и прилегающей территории обеспечивает сухость
                фундамента, хорошее отведение дождевых вод и отличную сохранность несущих конструкций.
            </p>
            <p>
                С северо-западной стороны предусмотрены 2 подъемных механизма (тельфера) различной
                грузоподъемности для разгрузки грузового транспорта.
            </p>
            <p>
                Вокруг здания предусмотрены площадки с бетонным покрытием для парковки и проезда
                автомобилей. С фасадной (ЮВ) части емкость парковки составляет 5-7 машин с возможностью
                увеличения при необходимости.
            </p>
            <p>
                Все коммуникации – центральные. Электроснабжение осуществляется через собственную
                ТП, мощностью 400 кВА. Прямые договора с сетедержателями.
            </p>
        </div>
    </div>
    @* Объект 5 *@
    <div class="sub-object">
        <div class="sub-object-title">
            Рефрижераторный контейнер (Р)
        </div>
        <div class="sub-object-gallery">
            <div class="sub-object-section">
                <div class="sub-object-gallery-title">
                    Фото
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Рефрижератор/Фото/Рефрижератор_1_изменение%20размера.JPG" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Рефрижератор/Фото/Рефрижератор_2_изменение%20размера.JPG" />
                </div>
                <div class="sub-object-gallery-item">
                </div>
                <div class="sub-object-gallery-item">
                </div>
                <div class="sub-object-gallery-item">
                </div>
            </div>
        </div>
        <div class="sub-object-description">
            <p>
                Общая площадь: <b>&asymp; 40 кв.м.</b><br />
                Высота: <b>2,3 м.</b>
            </p>
            <p>
                Емкость контейнера позволяет разместить продукции до 60 тонн. Высота установки контейнера
                около 1 метра, что облегчает погрузку/выгрузку.
            </p>
        </div>
    </div>
    @* Объект 6 *@
    <div class="sub-object">
        <div class="sub-object-title">
            Промышленные подъемники (П)
        </div>
        <div class="sub-object-gallery">
            <div class="sub-object-section">
                <div class="sub-object-gallery-title">
                    Фото
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Подъемники/Фото/Подъемники_1_изменение%20размера.JPG" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Подъемники/Фото/Подъемники_2_изменение%20размера.JPG" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Подъемники/Фото/Подъемники_3_изменение%20размера.JPG" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Подъемники/Фото/Подъемники_4_изменение%20размера.JPG" />
                </div>
                <div class="sub-object-gallery-item">
                </div>
            </div>
        </div>
        <div class="sub-object-description">
            <p>
                Грузоподъемность: <b>1 и 0,5 тонны</b><br />
                Высота подъема: <b>7,5 м. (до 3 этажа)</b>
            </p>
            <p>
                Подъемники расположены с СЗ стороны здания с противоположных торцов. На 1 и 3 этажах
                предусмотрены технологические проемы для загрузки/выгрузки продукции.
            </p>
        </div>
    </div>
    @* Объект 7 *@
    <div class="sub-object">
        <div class="sub-object-title">
            Трансформаторная подстанция (ТП)
        </div>
        <div class="sub-object-gallery">
            <div class="sub-object-section">
                <div class="sub-object-gallery-title">
                    Фото
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/ТП/Фото/ТП_1_изменение%20размера.jpg" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/ТП/Фото/ТП_2_изменение%20размера.jpg" />
                </div>
                <div class="sub-object-gallery-item">
                </div>
                <div class="sub-object-gallery-item">
                </div>
                <div class="sub-object-gallery-item">
                </div>
            </div>
        </div>
        <div class="sub-object-description">
            <p>
                Мощность: <b>400 кВА</b><br />
                Лимиты мощности: <b>до 200 кВт</b>
            </p>
        </div>
    </div>
    @* Объект 8 *@
    <div class="sub-object">
        <div class="sub-object-title">
            Эстакада для автомобилей (Э)
        </div>
        <div class="sub-object-gallery">
            <div class="sub-object-section">
                <div class="sub-object-gallery-title">
                    Фото
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Эстакада/Фото/Эстакада_изменение%20размера.JPG" />
                </div>
                <div class="sub-object-gallery-item">
                </div>
                <div class="sub-object-gallery-item">
                </div>
                <div class="sub-object-gallery-item">
                </div>
                <div class="sub-object-gallery-item">
                </div>
            </div>
        </div>
        <div class="sub-object-description">
            <p>
                Материал постройки: <b>бетонные блоки</b>
            </p>
            <p>
                Материал постройки позволяет обслуживать грузовую технику.
            </p>
        </div>
    </div>
    @* Объект 9 *@
    <div class="sub-object">
        <div class="sub-object-title">
            Дополнительные постройки
        </div>
        <div class="sub-object-gallery">
            <div class="sub-object-section">
                <div class="sub-object-gallery-title">
                    Фото
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Бытовка/Фото/Бытовка_1_изменение%20размера.JPG" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Бытовка/Фото/Бытовка_2_изменение%20размера.JPG" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Сторожевой%20вагончик/Фото/Сторожевой%20вагончик_1_изменение%20размера.JPG" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Сторожевой%20вагончик/Фото/Сторожевой%20вагончик_2_изменение%20размера.JPG" />
                </div>
                <div class="sub-object-gallery-item">
                    <img src="/Content/images/photos/small/Загон%20для%20собак/Фото/Загон%20для%20собак_изменение%20размера.JPG" />
                </div>
            </div>
        </div>
        <div class="sub-object-description">
            <p>
                &diams; кирпичная бытовка (Б) &asymp;(3х3х2)
            </p>
            <p>
                &diams; вагончик для охраны у центральных ворот (С) &asymp;(3х6х2)
            </p>
            <p>
                &diams; крытый загон для собак (З) &asymp; (3х10х2)
            </p>
        </div>
    </div>
</div>
<script src="http://api-maps.yandex.ru/2.0/?load=package.full&mode=debug&lang=ru-RU"
    type="text/javascript"></script>
<script type="text/javascript">

    var map = null;

    /* При успешной загрузке API выполняется
    соответствующая функция */
    ymaps.ready(function () {
        // Инициализация яндекс карт
        map = new ymaps.Map("map", {
            center: [48.534243, 135.177541],
            zoom: 14,
            type: "yandex#map"
        });

        var khvMarker = new ymaps.Placemark([48.534243, 135.177541], { balloonContent: "Матвеевское шоссе 41" }, { preset: "twirl#greenDotIcon" });
        map.geoObjects.add(khvMarker);

        map.controls.add("mapTools").add("zoomControl").add("typeSelector");
    });

    $(".sub-object-gallery-item img").click(function () {
        var idx = $(this).parent().index()-1;
        var items = [];
        $(this).parent().parent().find("img").each(function (index, item) {
            items.push({ href: $(item).attr("src").replace("small/", "") });
        });
        $.fancybox.open(items, {index: idx});
    });
    $("#izoplan img").click(function () {
        $.fancybox.open({ href: $(this).attr("src").replace("small/", "") });
    });
    
    
</script>
