@model dynamic

<div class="block">
    <div class="block-header">
        <div class="block-icon">
            <img src="@Url.Content("/Content/images/mainpage/plusicon.png")" alt="Icon"/>
        </div>
        <div class="block-title">
            Преимущества портала
        </div>
        <div class="clear"></div>
    </div>
    <div class="block-content">
        <div class="block-inner-content">
            
        </div>
    </div>
</div>