@model String

<div class="block">
    <div class="block-header">
        <div class="block-title">
            Баннеры
        </div>
        <div class="clear"></div>
    </div>
    <div class="block-content">
        <div class="block-inner-content">
            <div id="banners-wrapper">
                @Html.Raw(Model)
                @*<div class="banner">
                    <a href="http://congressrgr.ru"><img src="http://congressrgr.ru/Portals/Common/Themes/XVII/banner/240-400.jpg" border="0" width="306" height="506" alt="XVII Национальный Конгресс по недвижимости"></a>
                </div>*@
            </div>
        </div>
    </div>
</div>