@using RDV.Web.Classes.Caching
@model dynamic

@{
    ViewBag.Title = "Нормативные документы";
    Layout = "AboutLayout.cshtml";
}

<div class="block">
    <div class="block-header">
        <div class="block-title">
            Нормативные документы
        </div>
    </div>
    <div class="block-content">
        <div class="block-inner-content">
            Нормативные документы нашего партнерства
        </div>
    </div>
</div>
<table class="content-table">
    <thead>
        <tr>
            <th>
                Документ
            </th>
            <th>
                Посмотреть
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Положение об Общем собрании НП РДВ
            </td>
            <td>
                <a href="/Templates/Docs/norm/%D0%9F%D0%BE%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%BE%D0%B1%20%D0%BE%D0%B1%D1%89%D0%B5%D0%BC%20%D1%81%D0%BE%D0%B1%D1%80%D0%B0%D0%BD%D0%B8%D0%B8%20%D0%9D%D0%9F%20%D0%A0%D0%94%D0%92%20_%D0%9F%D0%9E%D0%A1_.pdf"><img src="/Content/images/common/pdf.png"/></a>
            </td>
        </tr>
        <tr>
            <td>
                Положение о Президенте НП РДВ
            </td>
            <td>
                <a href="/Templates/Docs/norm/%D0%9F%D0%BE%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%BE%20%D0%9F%D1%80%D0%B5%D0%B7%D0%B8%D0%B4%D0%B5%D0%BD%D1%82%D0%B5.pdf"><img src="/Content/images/common/pdf.png"/></a>
            </td>
        </tr>
        <tr>
            <td>
                Положение о Президентском Совете при НП РДВ
            </td>
            <td>
                <a href="/Templates/Docs/norm/%D0%9F%D0%BE%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%BE%20%D0%9F%D1%80%D0%B5%D0%B7%D0%B8%D0%B4%D0%B5%D0%BD%D1%82%D1%81%D0%BA%D0%BE%D0%BC%20%D1%81%D0%BE%D0%B2%D0%B5%D1%82%D0%B5.pdf"><img src="/Content/images/common/pdf.png"/></a>
            </td>
        </tr>
        <tr>
            <td>
                Положение о членстве и размере регулярных членских взносов
            </td>
            <td>
                <a href="http://www.nprdv.ru/Templates/Docs/norm/%D0%9F%D0%BE%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%BE%20%D1%87%D0%BB%D0%B5%D0%BD%D1%81%D1%82%D0%B2%D0%B5.pdf"><img src="/Content/images/common/pdf.png"/></a>
            </td>
        </tr>
        <tr>
            <td>
                Кодекс Этики
            </td>
            <td>
                <a href="/Templates/Docs/norm/%D0%9A%D0%BE%D0%B4%D0%B5%D0%BA%D1%81%20%D1%8D%D1%82%D0%B8%D0%BA%D0%B8%20%D0%9D%D0%9F-%D0%A0%D0%94%D0%92.pdf"><img src="/Content/images/common/pdf.png"/></a>
            </td>
        </tr>
        <tr>
            <td>
                Положения о  Комиссии по профессиональной Этике  и контролю за  соблюдением профессиональных стандартов
            </td>
            <td>
                <a href="/Templates/Docs/norm/%D0%9F%D0%BE%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%9A%D0%BE%D0%BC%D0%B8%D1%81%D1%81%D0%B8%D0%B8%20%D0%BF%D0%BE%20%D0%AD%D1%82%D0%B8%D0%BA%D0%B5.pdf"><img src="/Content/images/common/pdf.png"/></a>
            </td>
        </tr>
        <tr>
            <td>
                Технология подачи заявления в Комиссию по этике при НП РДВ
            </td>
            <td>
                <a href="/Templates/Docs/norm/%D0%A2%D0%B5%D1%85%D0%BD%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F%20%D0%BF%D0%BE%D0%B4%D0%B0%D1%87%D0%B8%20%D0%B7%D0%B0%D1%8F%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F%20%D0%B2%20%D0%BA%D0%BE%D0%BC%D0%B8%D1%81%D1%81%D0%B8%D1%8E%20%D0%BF%D0%BE%20%D0%AD%D1%82%D0%B8%D0%BA%D0%B5.pdf"><img src="/Content/images/common/pdf.png"/></a>
            </td>
        </tr>
        <tr>
            <td>
                Сроки рассмотрения обращений
            </td>
            <td>
                <a href="/Templates/Docs/norm/%D0%A1%D1%80%D0%BE%D0%BA%D0%B8%20%D0%BC%D0%B5%D1%80%D0%BE%D0%BF%D1%80%D0%B8%D1%8F%D1%82%D0%B8%D0%B9%20%D0%B8%D0%B7%20%D0%9F%D0%BE%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D1%8F%20%D0%BE%20%D0%9A%D0%BE%D0%BC%D0%B8%D1%81%D1%81%D0%B8%D0%B8%20%D0%BF%D0%BE%20%D1%8D%D1%82%D0%B8%D0%BA%D0%B5.pdf"><img src="/Content/images/common/pdf.png"/></a>
            </td>
        </tr>
        <tr>
            <td>
                Положения об Учебном Центре при НП РДВ
            </td>
            <td>
                <a href="http://www.nprdv.ru/Templates/Docs/norm/%D0%9F%D0%BE%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D1%8F%20%D0%BE%D0%B1%20%D0%A3%D1%87%D0%B5%D0%B1%D0%BD%D0%BE%D0%BC%20%D0%A6%D0%B5%D0%BD%D1%82%D1%80%D0%B5.pdf"><img src="/Content/images/common/pdf.png"/></a>
            </td>
        </tr>
        <tr>
            <td>
                Договор о сотрудничестве между членами НП РДВ
            </td>
            <td>
                <a href="/Templates/Docs/norm/%D0%94%D0%BE%D0%B3%D0%BE%D0%B2%D0%BE%D1%80%20%D0%BE%20%D1%81%D0%BE%D1%82%D1%80%D1%83%D0%B4%D0%BD%D0%B8%D1%87%D0%B5%D1%81%D1%82%D0%B2%D0%B5%20%D0%BC%D0%B5%D0%B6%D0%B4%D1%83%20%D1%87%D0%BB%D0%B5%D0%BD%D0%B0%D0%BC%D0%B8%20%D0%9D%D0%9F%20%D0%A0%D0%94%D0%92.pdf"><img src="/Content/images/common/pdf.png"/></a>
            </td>
        </tr>
        <tr>
            <td>
                Протокол присоединения к договору
            </td>
            <td>
                <a href="/Templates/Docs/norm/%D0%9F%D1%80%D0%BE%D1%82%D0%BE%D0%BA%D0%BE%D0%BB%20%D0%BF%D1%80%D0%B8%D1%81%D0%BE%D0%B5%D0%B4%D0%B8%D0%BD%D0%B5%D0%BD%D0%B8%D1%8F%20%D0%BA%20%D0%B4%D0%BE%D0%B3%D0%BE%D0%B2%D0%BE%D1%80%D1%83.pdf"><img src="/Content/images/common/pdf.png"/></a>
            </td>
        </tr>
        <tr>
            <td>
                Акт выполненных работ к договору сотрудничества
            </td>
            <td>
                <a href="/Templates/Docs/norm/%D0%B0%D0%BA%D1%82%20%D0%B2%D1%8B%D0%BF%D0%BE%D0%BB%D0%BD%D0%B5%D0%BD%D0%BD%D1%8B%D1%85%20%D1%80%D0%B0%D0%B1%D0%BE%D1%82%20%D0%BA%20%D0%B4%D0%BE%D0%B3%D0%BE%D0%B2%D0%BE%D1%80%D1%83%20%D1%81%D0%BE%D1%82%D1%80%D1%83%D0%B4%D0%BD%D0%B8%D1%87%D0%B5%D1%81%D1%82%D0%B2%D0%B0%20%D1%87%D0%BB%D0%B5%D0%BD%D0%BE%D0%B2%20%D0%9D%D0%9F%20%D0%A0%D0%94%D0%92.pdf"><img src="/Content/images/common/pdf.png"/></a>
            </td>
        </tr>
        <tr>
            <td>
                Правила пользования информационным порталом НП РДВ
            </td>
            <td>
                <a href="/Templates/Docs/rules.pdf"><img src="/Content/images/common/pdf.png"/></a>
            </td>
        </tr>
        <tr>
            <td>
                Руководство пользователя системой НП РДВ
            </td>
            <td>
                <a href="/Templates/Docs/manual.pdf"><img src="/Content/images/common/pdf.png"/></a>
            </td>
        </tr>
    </tbody>
</table>