@{
    ViewBag.Title = "Правила использования системы";
    Layout = "~/Views/Shared/_CommonPageLayout.cshtml";
}
<div id="rules">
    <p>
        Настоящее Положение определяет общие принципы и основные направления политики РДВ
        в области информации и рекламы, фиксирует общепринятые профессиональные стандарты
        деятельности в сфере распространения, обмена и получения информации, в сфере рекламы
        услуг и профессиональной деятельности участников рынка недвижимости, определяет
        порядок формирования, использования и распространения информационной базы, сбор
        информации о специалистах рынка недвижимости, а также закрепляет меры ответственности
        за нарушение установленных здесь норм.
    </p>
    <div class="title">
        Используемые термины
    </div>
    <p>
        <b>НП Риэлторы Дальнего Востока (РДВ)</b> – некоммерческая общественная организация
        участников рынка недвижимости Дальнего Востока.
    </p>
    <p>
        <b>Комиссия Риэлторов Дальнего Востока по информации и рекламе</b> (далее – Комиссия)
        – специальный орган РДВ, формируемый в соответствии с настоящим Положением, осуществляющий
        выработку основных направлений политики РДВ в области информации и рекламы, контролирующий
        соблюдение участниками профессионального риэлторского информационного пространства
        установленных правил и осуществляющий применение к нарушителям предусмотренных настоящим
        Положением мер воздействия.
    </p>
    <p>
        <b>Профессиональное риэлторское информационное пространство</b> – совокупность рекламной
        информации, распространяемой профессиональными участниками рынка недвижимости в
        процессе ведения предпринимательской деятельности.
    </p>
    <p>
        <b>Участник профессионального риэлторского информационного пространства</b> (далее
        в тексте настоящего Положения – Участник) – субъект предпринимательской деятельности,
        осуществляющий риэлторскую деятельность на рынке недвижимости Дальнего Востока,
        соблюдающий правила, установленные настоящим Положением и другими актами РДВ.<br />
        Лицо, исключенное из РДВ либо из кандидатов в члены РДВ за нарушение настоящего
        Положения, за нарушения Кодекса этики или правил риэлторской деятельности не признается
        участником, что является одной из целей создания данного Положения.
    </p>
    <p>
        <b>Информационная база НП РДВ</b> (далее в тексте настоящего Положения – База) –
        это База, состоящая из двух частей, где первая часть содержит совокупность информации
        об объектах недвижимости, передаваемой Участниками в РДВ для обмена, анализа и распространения
        в порядке, предусмотренном настоящим Положением, а вторая часть включает в себя
        совокупность информации по специалистам рынка недвижимости, в т.ч. о движении документов
        (сертификатах), выданных на их имя НП «РДВ» (далее в тексте настоящего Положения
        – База персонала).
    </p>
    <p>
        <b>Рекламная информация</b> – любые распространяемые участником рынка недвижимости
        сведения, связанные с осуществлением профессиональной риэлторской деятельности либо
        способные формировать или поддерживать интерес к этому Участнику, в том числе информация
        о характеристиках объектов, выставленных на продажу, а также информация об Участнике
        или предоставляемых им услугах.
    </p>
    <p>
        <b>Лот</b> – запись в БД по отдельному объекту недвижимости.
    </p>
    <p>
        <b>Объект-предложение</b> – исходящее от Участника коммерческое предложение, содержащее
        информацию об индивидуально определенном объекте недвижимости и предполагающее осуществление
        Участником риэлторской деятельности при совершении сделки с объектом (далее в тексте
        настоящего Положения – Объект).
    </p>
    <p>
        <b>Прямая продажа</b> – продажа объекта недвижимости, не обусловленная приобретением
        другого объекта недвижимости.
    </p>
    <p>
        <b>Обмен</b> – продажа объекта недвижимости, обусловленная приобретением другого(их)
        объекта(ов) недвижимости.
    </p>
    <p>
        <b>Специалист рынка недвижимости</b> – это сотрудник Участника, в т.ч. лица, прошедшие
        обучение и/или аттестованные по утвержденной комитетом по обучению РДВ программе.
    </p>
    <p>
        <b>Специальная профессиональная информация</b> – распространяемые в любых формах
        сведения о лицах, предметах, фактах, явлениях и процессах, связанные с рынком недвижимости
        либо риэлторскими услугами, относящиеся к специальным профессиональным согласно
        локальным нормативным документам РДВ и предназначенные исключительно для использования
        Участниками как профессиональными операторами рынка недвижимости.
    </p>
    <p>
        <b>Сторона спора</b> – лицо или группа лиц, выступающая в роли заявителя или ответчика
        в комитете в случае нарушения профессиональных стандартов деятельности при распространении
        информации и рекламы.
    </p>
    <p>
        <b>Собственник</b> – правообладатель.
    </p>
    <div class="title">
        Общие положения
    </div>
    <p>
        2.1. НП РДВ в соответствии с учредительными документами и уставными задачами проводит
        политику, направленную на защиту интересов всех участников рынка недвижимости, в
        том числе защиту интересов риэлторского сообщества, касающихся информационного освещения
        рынка. Политика РДВ в этой области направлена на объединение усилий и возможностей
        всех участников рынка для закрепления цивилизованных форм деятельности и сотрудничества
        заинтересованных лиц в вопросах информации и рекламы.
    </p>
    <p>
        2.2. Настоящее Положение является локальным нормативным актом НП РДВ. Соблюдение требований
        Положения обязательно для всех Участников.
    </p>
    <p>
        2.3. Настоящее Положение принимается и может быть изменено Общим собранием участников
        НП РДВ, если иной порядок его изменения не установлен решением Общего собрания участников
        НП РДВ.
    </p>
    <p>
        2.4. По неурегулированным настоящим Положением вопросам, связанным с обращением информации
        на рынке недвижимости, Президентский Совет РДВ вправе на период между общими собраниями
        участников РДВ принимать решения, имеющие обязательный характер для Участников.
    </p>
    <div class="title">
        Профессиональные стандарты деятельности в сфере рекламы и обращения информации
    </div>
    <p>
        3.1. Участники профессионального риэлторского информационного пространства, объединенные
        общими интересами в профессиональной сфере и стремящиеся закрепить цивилизованные
        формы деятельности и сотрудничества между всеми Участниками и их клиентами на рынке
        недвижимости, добровольно устанавливают обязательные для исполнения всеми Участниками
        правила и условия распространения Участником собственной рекламной информации (профессиональные
        стандарты), соблюдение которых является условием и гарантией получения Участником
        специальной профессиональной информации.
    </p>
    <p>
        3.2. Участник должен соблюдать установленные законодательством РФ и локальными актами
        РДВ правила распространения рекламной информации и установленные ими ограничения,
        в том числе на свободное распространение специальной профессиональной информации,
        а также ограничения, касающиеся форм и средств подачи рекламной информации.
    </p>
    <p>
        3.3. Распространение рекламной или иной информации не должно причинять ущерб законным
        интересам других участников рынка. Указание Участником в своей рекламе в Базе стоимости
        услуг, не соответствующей действительности, а также бесплатных услуг по продаже
        объектов недвижимости и по продаже объектов недвижимости на условиях встречной покупки,
        недопустимо и расценивается как попытка получить несправедливое преимущество перед
        другими членами РДВ.
    </p>
    <p>
        3.4. Распространяемая Участником информация не должна содержать положений, дискредитирующих
        РДВ и добросовестных участников рынка недвижимости.
    </p>
    <p>
        3.5. Любая распространяемая Участником рекламная информация в Базе должна соответствовать
        действительности. Участник отвечает за недостоверность распространяемой им рекламной
        информации. В равной мере это касается рекламных объявлений о приеме на работу риэлторов.
        Указание в рекламе оплаты труда риэлторов в виде процентной ставки не допускается.
    </p>
    <p>
        3.6. Участник обязан не допускать разглашения информации, являющейся конфиденциальной
        в силу закона либо отнесенной к таковой договором, заключенным Участником либо другим
        участником рынка.
    </p>
    <p>
        3.7. Участник может свободно использовать в своей рекламной информации логотип (фирменный
        знак) НП РДВ, а также ссылаться в рекламной информации на факт своего членства в
        РДВ.
    </p>
    <p>
        3.8. Специальная профессиональная информация предназначена для ее использования Участниками,
        может быть доступна исключительно Участникам, призвана способствовать осуществлению
        ими, как профессиональными операторами рынка недвижимости, предпринимательской деятельности.
        Свободное распространение специальной профессиональной информации не допускается.
    </p>
    <p>
        3.9. Участник обеспечивает соблюдение его работниками правил распространения рекламной
        информации, обязан предпринять любые необходимые действия для предотвращения или
        прекращения нарушения указанных правил и отвечает за несоблюдение правил своими
        сотрудниками.
    </p>
    <p>
        3.10. Участник несет ответственность за свои технические ошибки, послужившие причиной
        распространения недостоверной информации.
    </p>
    <p>
        3.11. Участник обязан передавать в РДВ информацию об известных ему случаях нарушения установленных
        правил распространения рекламной информации, а также специальной профессиональной
        информации.
    </p>
    <div class="title">
        Информационная база РДВ
    </div>
    <p>
        4.1. База находится в собственности НП РДВ. Формирование, использование и распространение
        Базы осуществляется в соответствии с настоящим Положением, иными локальными актами
        РДВ и законодательством РФ.
    </p>
    <p>
        4.2. База предназначена для удовлетворения информационных потребностей членов РДВ и других
        профессиональных участников рынка недвижимости, в том числе для распространения
        Участниками информации об объектах-предложениях в среде профессиональных потребителей
        такой информации, получения такой информации, а также ее анализа.
    </p>
    <p>
        4.3. База является источником специальной профессиональной информации. Вся информация,
        содержащаяся в Базе, относится к специальной профессиональной информации.
    </p>
    <p>
        4.4. Поддержание (функционирование) Базы обеспечивается исполнительными органами РДВ
        и является их приоритетной обязанностью. Формирование и распространение Базы финансируется
        из бюджета РДВ и иных источников.
    </p>
    <p>
        4.5. Для обеспечения функционирования Базы используется материально-техническая база
        (оборудование, технологии, программное обеспечение и пр.) НП РДВ и предприятий с
        ее участием. Обработка базы данных РДВ в электронном виде осуществляется исключительно
        на программном обеспечении, разработанном РДВ. Допускается использование программного
        обеспечения Участника, разработанного для внутренних целей Участника при согласовании
        с РДВ.
    </p>
    <p>
        4.6. Информационная база РДВ формируется в электронном виде из информации, предоставляемой
        Участниками.
    </p>
    <p>
        4.7. Сроки и формы подачи информации в Базу ее участниками, продолжительность ее хранения
        определяются исполнительными органами и согласовываются с Комиссией по информации
        и рекламе. Участник обязан разместить информацию об объекте-предложении в базе РДВ
        в течение 3 рабочих дней с момента заключения договора на услуги по продаже объекта.
    </p>
    <p>
        4.8. Правом размещения собственной информации в Базе обладают исключительно Участники.<br />
        Для подключения к Базе нового Участника, он обязан предоставить следующие документы:<br />
        заявление Участника на подключение к Базе в установленной форме, со списком сотрудников
        и анкетой руководителя (приложение 1);<br />
        анкета юридического лица Участника в установленной форме (приложение 2);<br />
        В случае предоставления Участником недостоверной информации (либо изменения информации
        по документам, имеющим срок действия) и выявления данного факта исполнительными
        органами РДВ, работа Участника с Базой может быть приостановлена до момента предоставления
        новых документов. Информация, размещаемая Участником в Базе, должна содержать обязательные
        характеристики объекта-предложения, перечень которых определяется Комитетом по информационным
        технологиям. Исполнительные органы РДВ могут дополнять недостающую или корректировать
        содержащуюся в Базе недостоверную информацию о характеристиках объектов-предложений,
        если иное не установлено решением Комитета по информации и рекламе.
    </p>
    <p>
        4.9. Каждый из Участников имеет право на подачу в Базу информации в неограниченном числе
        объектов-предложений.
    </p>
    <p>
        4.10. Участники имеют право на бесплатную подачу (размещение) информации об объектах-предложениях
        в Базе. Размер платы за прием информации в Базу от Участников, не состоящих в РДВ,
        определяется Президентским Советом РДВ по предложению Комиссии РДВ по информации
        и рекламе.
    </p>
    <p>
        4.11. В случае, если членство Участника в НП РДВ приостановлено в порядке, предусмотренном
        локальными актами РДВ, с момента принятия решения о приостановлении членства до
        момента восстановления членства Участника в РДВ прием информации и доступ Участника
        к Базе ограничивается.
    </p>
    <p>
        4.12. Все Участники, размещающие информацию в Базе, имеют право на пользование Базой в
        равном объеме. Ограничение прав Участника на пользование Базой, не установленное
        настоящим Положением либо другими локальными нормативными актами РДВ, не допускается.
    </p>
    <p>
        4.13. В случае возникновения существенной для НП РДВ денежной задолженности Участника
        перед ним либо предприятиями с его участием, в т.ч. по членским, целевым и/или иным
        взносам, прием информации в Базу от Участника может быть приостановлены решением
        Президентского Совета РДВ. Восстановление прав Участника в этом случае осуществляется
        Президентским Советом РДВ немедленно по устранении задолженности либо по заявлению
        Участника Комиссией по информации и рекламе.
    </p>
    <p>
        4.14. Исполнительные органы РДВ в соответствии с настоящим Положением обеспечивают всем
        Участникам, не ограниченным в правах пользователей Базы, доступ ко всей содержащейся
        в Базе информации. Создание в Базе информационных блоков (секторов), доступ к которым
        закрыт всем или некоторым Участникам, не допускается.
    </p>
    <p>
        4.15. Участник не должен использовать информацию, полученную в Базе, в недобросовестной
        конкурентной борьбе, допускать разглашения специальной профессиональной информации
        и обязан всеми доступными средствами предупреждать причинение вследствие такого
        разглашения вреда интересам других Участников и третьим лицам.
    </p>
    <p>
        4.16. Участник обладает правом на распространение только той информации, включенной в
        Базу, которая была передана в нее этим Участником.
    </p>
    <p>
        4.17. Определение размера платы за доступ к Базе, способов использования Базы, периодичности,
        порядка и форм распространения Базы, решение прочих неурегулированных настоящим
        Положением оперативных вопросов, связанных с использованием и распространением Базы,
        осуществляется Президентским Советом РДВ по представлению Комиссии РДВ по информации
        и рекламе в соответствии с законодательством РФ и локальными нормативными актами
        РДВ.
    </p>
    <div class="title">
        База персонала рынка недвижимости
    </div>
    <p>
        5.1. Базу персонала самостоятельно ведет компания – Участник в электронном виде.
    </p>
    <p>
        5.2. В Базу персонала вносится следующая информация:
        <ul>
            <li>ФИО специалиста;</li>
            <li>контактная информация;</li>
            <li>информация о выданных аттестатах и удостоверениях;</li>
            <li>общественные нагрузки;</li>
            <li>прохождение учебных программ;</li>
            <li>дополнительная информация в виде «сигнала» от прежнего работодателя.</li>
        </ul>
    </p>
    <p>
        5.3. Сотрудники отдела обучения и сертификации РДВ предоставляют менеджеру РДВ следующую
        информацию:
        <ul>
            <li>ФИО аттестованного специалиста;</li>
            <li>прохождение учебных программ;</li>
            <li>информация о выданных аттестатах и удостоверениях.</li>
        </ul>
    </p>
    <p>
        5.4. В случае изменения информации о сотруднике руководитель агентства недвижимости в
        течение 3 (трех) календарных дней с момента наступления изменения обязан обновить
        сведения.
    </p>
    <p>
        5.5. Информация, содержащаяся в Базе персонала является открытой для руководителей агентств
        недвижимости, имеющих статус действительного члена или кандидата в члены РДВ.
    </p>
    <div class="title">
        Меры ответственности за нарушения участниками профессионального риэлторского информационного
        пространства установленных правил
    </div>
    <p>
        6.1. В случае нарушения Участником правил и стандартов, установленных настоящим Положением,
        а также в случаях, предусмотренных другими нормативными актами РДВ, к нарушителю
        могут быть применены следующие меры воздействия:
        <ul>
            <li>Предупреждение.</li>
            <li>Штраф в размере 10 рублей за лот.</li>
            <li>Штраф в размере до 20 рублей за лот.</li>
            <li>Приостановление приема информации в Базу от Участника.</li>
            <li>Отказ участнику в доступе к Базе.</li>
        </ul>
    </p>
    <p>
        6.2. Меры воздействия, предусмотренные предыдущем пункте, могут быть применены к Участнику,
        нарушившему любое из правил, установленных Положением.
    </p>
    <p>
        6.3. Допускается одновременное или последовательное применение к нарушителю нескольких
        мер воздействия, предусмотренных настоящим Положением.
    </p>
    <p>
        6.4. Меры воздействия применяются к Участнику последовательно в порядке, установленном
        в п. 6.1. Не допускается применение одной и той же меры воздействия за повторное
        нарушение.
    </p>
    <p>
        6.5. Нарушение норм и стандартов РДВ считается повторным, если оно совершено в течение
        1 года со дня вынесения решения по аналогичному нарушению.
    </p>
    <p>
        6.6. К Участнику не может быть применена повторно мера воздействия за совершение одного
        и того же нарушения норм РДВ.
    </p>
    <p>
        6.7. В случае, если в период действия одной меры воздействия на Участника, выносится
        решение о применении другой меры воздействия по другому нарушению установленных
        правил и если сложение двух мер воздействия невозможно, применяется последняя, а
        действие предыдущей прекращается.
    </p>
    <p>
        6.8. Предупреждение состоит в информировании Участника письмом на электронный ящик руководителя
        о том, что его действия, не соответствуют правилам и нормам РДВ, и в случае повторного
        нарушения к Участнику будут применены более строгие меры воздействия.
    </p>
    <p>
        6.9. Штраф в размере 10 (20) рублей за лот взимается по количеству лотов, размещенных
        Участником в Базе на день вынесения комиссией решения, единоразово и уплачивается
        участником на счет РДВ в течение 3 (трех).
    </p>
    <p>
        6.10. В случае неуплаты в указанные сроки прием информации в Базу от участника приостанавливается.
    </p>
    <p>
        6.11. В случае неуплаты в течение 10 (десяти) дней доступ Участника к Базе прекращается.
    </p>
    <p>
        6.12. Приостановление приема информации в Базу от Участника состоит во временном отказе
        Участнику в размещении в Базе информации об объектах-предложениях. Прием информации
        в Базу от Участника может быть приостановлен сроком на 1 месяц.
    </p>
    <p>
        6.13. Отказ участнику в доступе к Базе состоит в приостановлении публикаций лотов в Базе.
    </p>
    <p>
        6.14. В случаях грубого неоднократного нарушения Участником этических норм, профессиональных
        стандартов или требований настоящего Положения, в результате которого наносится
        вред доброму имени и деловой репутации РДВ, Президентский Совет РДВ по ходатайству
        Комиссии РДВ по профессиональной этике имеет право применить к нарушителю меру воздействия
        в виде отказа участнику в доступе к Базе.
    </p>
    <p>
        6.15. Применение и сложение (отмена) мер воздействия осуществляется Комиссией в порядке,
        предусмотренном настоящим Положением, а также Президентским Советом РДВ в случаях,
        предусмотренных в указанных ниже пунктах.
    </p>
    <p>
        6.16. Меры воздействия (кроме «отказа участнику в доступе к Базе») прекращаются с истечением
        срока их действия либо их отменой. Меры воздействия могут быть отменены по решению
        Комиссии в исключительных случаях.
    </p>
    <p>
        6.17. Отказ участнику в доступе к Базе может быть отменен исключительно Президентским
        Советом РДВ после получения им достоверных данных, свидетельствующих о прекращении
        нарушений.
    </p>
    <p>
        6.18. Исполнение решений о применении мер воздействия к нарушителям производится Комитетом
        по информационным технологиям РДВ.
    </p>
    <p>
        8.19. Комитет по информационным технологиям обеспечивает сбор и фиксацию информации обо
        всех выявленных нарушениях и принятых к нарушителям мерах воздействия
    </p>
    <p class="download-link">
        <a href="/Templates/Docs/rules.pdf">Скачать Положение с приложением</a>
    </p>
</div>
