@model dynamic
@{
    ViewBag.Title = "История, миссия Учебного центра";
    Layout = "TrainingCenterLayout.cshtml";
}
<p>
    Миссия УЦ – подготовка и повышение квалификации профессионалов рынка недвижимости
    Дальнего Востока
</p>
<p>
    <b>Задачи учебного Центра </b>
</p>
<ul>
    <li>1. Профессиональное образование риэлторов.Подготовка начинающих и опытных риэлторов
        в соответствии с национальным стандартом «Риэлторская деятельность» в рамках Системы
        добровольной сертификации на рынке недвижимости.Подготовка к сдаче квалификационного
        экзамена для получения квалификации «Специалист по недвижимости – Агент», «Специалист
        по недвижимости – Брокер». </li>
    <li>2. Дополнительное образование риэлторов.Разработка, организация и проведение курсов,семинаров,
        тренингов, круглых столовдля специалистов в сфере риэлторских услуг (по психологии,
        технологии риэлторского бизнеса, менеджменту, правовым и прочим вопросам). </li>
    <li>3. Методическая работа.Подготовка и распространение учебно-методической литературы,
        оказание консультационных услуг понаправлениям деятельности Учебного Центра.
    </li>
    <li>4. Имидж и репутация. Поднятие имиджа и деловой репутации профессиональных участников
        рынка недвижимости. </li>
</ul>
<p>
    <b>История Учебного Центра </b>
</p>
<p>
    <b>2011 год - год формирования центра </b>
</p>
<p>
    Учебный центр создан в феврале 2011 г. по решению учредителя Некоммерческого партнерства
    «Риэлторы Дальнего Востока» (ссылка на свид-во о регистрации) Директором назначена
    Наумова Валентина Валерьевна, член Президентского совета НП «РДВ», директор компании
    «Центр юридических и риэлторских услуг» (ролик интервью с Наумовой В.В.).
</p>
<p>
    В августе центр получил лицензию на право ведения образовательной деятельности по
    программам «Специалист по недвижимости – Агент», «Специалист по недвижимости – Брокер»
    (ссылка на лицензию), в октябре был аккредитован в Системе добровольной сертификации
    РГР услуг на рынке недвижимости РФ в качестве учебного заведения по подготовке кадров
    и повышению квалификации специалистов в области брокерской деятельности на рынке
    недвижимости (ссылка на свид-во об аттестации), а в декабре началось обучение первой
    группы слушателей – Агентов и Брокеров.
</p>
<p>
    <b>2012 год - год становления центра </b>
</p>
<p>
    С 2012 г. центр проводит обучение Агентов и Брокеров не только в г. Хабаровске,
    но и в г. Комсомольске-на-Амуре. Центр активно сотрудничает со Службой занятости
    г. Хабаровска по подготовке безработных граждан и последующему их трудоустройству
    в риэлторские компании НП «РДВ».
</p>
<p>
    С 2012 г. центр предлагает слушателям новую программу – целевой инструктаж «Исполнение
    законодательства в сфере противодействия (легализации) доходов, полученных преступным
    путем, и финансирования терроризма» в рамках требований Закона 115ФЗ.
</p>
<p>
    За 2011 – 2012 гг. центром подготовлено 220 слушателей по программам «Агент» и «Брокер»,
    из которых 213 человек успешно сдали квалификационный экзамен и получили аттестаты
    профессиональных участников рынка недвижимости по Стандартам РГР.
</p>
<p>
    В 2012 г. 21 представительриэлторских, страховых и прочих компаний прошли целевой
    инструктаж РФМ, а более 450 риэлторов посетили тренинги и мастер-классы известных
    мастеров риэлторского бизнеса Гороховского М. (Москва), Гусева А. (Санкт-Петербург).
</p>
