@model dynamic
@{
    ViewBag.Title = "Планы учебного центра";
    Layout = "TrainingCenterLayout.cshtml";
}
<p>
    <b>2011 год </b>
</p>
<table width="100%">
    <tr>
        <td width="25%">
            Февраль
        </td>
        <td width="75%" style="line-height: 1.5">
            Решением НП РДВ создан НОУ ДПО «Учебный центр риэлторского мастерства и менеджмента
            при НП «РДВ»
        </td>
    </tr>
    <tr>
        <td width="25%">
            Август
        </td>
        <td width="75%" style="line-height: 1.5">
            получение лицензии на право ведения образовательной деятельности по программам «Специалист
            по недвижимости – Агент», «Специалист по недвижимости – Брокер» (ссылка на лицензию)
        </td>
    </tr>
    <tr>
        <td width="25%">
            Октябрь
        </td>
        <td width="75%" style="line-height: 1.5">
            аккредитация в Системе добровольной сертификации РГР услуг на рынке недвижимости
            РФ в качестве учебного заведения по подготовке кадров и повышению квалификации специалистов
            в области брокерской деятельности на рынке недвижимости (ссылка на свид-во об аттестации
        </td>
    </tr>
    <tr>
        <td width="25%">
            Декабрь
        </td>
        <td width="75%" style="line-height: 1.5">
            обучение первой группы Агентов и Брокеров в г. Хабаровске
        </td>
    </tr>
</table>
<p>
    <b>2012 год </b>
</p>
<table width="100%">
    <tr>
        <td width="25%">
            Январь
        </td>
        <td width="75%" style="line-height: 1.5">
            обучение первой группы Агентов и Брокеров в г. Комсомольске-на-Амуре
        </td>
    </tr>
    <tr>
        <td width="25%">
            Февраль
        </td>
        <td width="75%" style="line-height: 1.5">
            первая аттестация Агентов и Брокеров г. Хабаровска и Комсомольска-на-Амуре по Стандартам
            РГР
        </td>
    </tr>
    <tr>
        <td width="25%">
            Март
        </td>
        <td width="75%" style="line-height: 1.5">
            заключение соглашения с АНО «Международный учебно-методический центр финансового
            мониторинга» (г. Москва) на обучение и подготовку кадров в целях противодействия
            легализации (отмыванию) доходов, полученных преступным путем, и финансированию терроризма
        </td>
    </tr>
    <tr>
        <td width="25%">
            Апрель
        </td>
        <td width="75%" style="line-height: 1.5">
            <ul>
                <li>мастер-класс Михаила Гороховского (г. Москва) в рамках I Дальневосточного съезда
                    профессионалов рынка недвижимости в г. Хабаровске посетили более 250 человек
                </li>
                <li>формирование библиотеки риэлтора </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td width="25%">
            Июль
        </td>
        <td width="75%" style="line-height: 1.5">
            заключение государственного контакта со Службой занятости г. Хабаровска на оказание
            услуг по профессиональному обучению безработных граждан
        </td>
    </tr>
    <tr>
        <td width="25%">
            Ноябрь
        </td>
        <td width="75%" style="line-height: 1.5">
            <ul>
                <li>мастер-класс Алексея Гусева (г. Санкт-Петербург) в г. Хабаровске посетили более
                    200 человек </li>
                <li>первое занятие – целевой инструктаж по Росфинмониторингу посетили 21 человек
                </li>
            </ul>
        </td>
    </tr>
</table>
<p>
    <b>2013 год </b>
</p>
<table width="100%">
    <tr>
        <td width="25%">
            Март
        </td>
        <td width="75%" style="line-height: 1.5">
            <ul>
                <li>мастер-класс и тренингАртура Оганесяна (г. Киев) в Хабаровске посетили 24 человека</li>
                <li>мастер-классы Алексея Гусева (г. Санкт-Петербург) в Хабаровске, Комсомольске-на-Амуре, Благовещенскепосетили 135 человек
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td width="25%">
            Апрель
        </td>
        <td width="75%" style="line-height: 1.5">
            <ul>
                <li>назначение нового директора учебного центра Абдулкиной Дарьи Владимировны</li>
                <li>мастер-класс Яны Лурье (г. Красноярск) в рамках II Дальневосточного съезда     профессионалов рынка недвижимости в г. Хабаровске посетили 22 человека
                </li>
                <li>применение нового форматапродвижения Учебного центра: презентация учебных программ и тренингов с мини-тренингами / мини-мастер-классами</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td width="25%">
            Июнь
        </td>
        <td width="75%" style="line-height: 1.5">
            <ul>
                <li>тренинг Евгения Маслова (г. Хабаровск) в г. Хабаровске посетили 14 человек</li>
                <li>тренинг Татьяны Краснер (г. Хабаровск) в г. Хабаровске посетили 10 человек
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td width="25%">
            Июль
        </td>
        <td width="75%" style="line-height: 1.5">
            <ul>
                <li>первый набор на курс«Ипотечный консультант» в г. Хабаровске</li>
                <li>открытие формата «Дистанционное обучение» для иногородних слушателей
                </li>
            </ul>
        </td>
    </tr>
</table>