@using RDV.Web.Classes.Caching
@model dynamic

@{
    ViewBag.Title = "Учебный центр";
    Layout = "TrainingCenterLayout.cshtml";
}

<p>
Мы рады приветствовать ВАС на странице Учебного центра для действующих специалистов и новичков интересного  и  важного РИЭЛТОРСКОГО БИЗНЕСА. 
</p>
<p>
    Учебный центр является единственным в Хабаровском крае учебным заведением по подготовке риэлторов, аккредитованным Российской Гильдией Риэлторов (<a href="http://www.rgr.ru">www.rgr.ru</a>). Мы проводим подготовку риэлторов от новичков до профессионалов. 
</p>
<p>
    С нами Вы:
</p>
<ul>
    <li>
        <a href="/training-center/programs">изучите теорию и практику риэлторского дела</a>
    </li>
    <li>
        <a href="http://reestr.rgr.ru">подготовитесь к сдаче квалификационного экзамена на получение аттестата РГР</a>
    </li>
    <li>
        <a href="/training-center/programs">постоянно совершенствуете риэлторское мастерство</a>
    </li>
    <li>
        получаете новую актуальную информация по рынку недвижимости
    </li>
    <li>
        устроитесь <a href="/training-center/job">работать</a> в риэлторские <a href="/about/members">компании–члены НП «РДВ»</a> 
    </li>
</ul>


