@model dynamic

@{
    ViewBag.Title = "Тренинги, семинары, мастер-классы";
    Layout = "TrainingCenterLayout.cshtml";
}

<b>Учебный центр предлагает</b>
<li>Многоуровневые Учебные программы для риэлторов</li>
<li>Целевой инструктаж и повышение квалификации по программам Федеральной службы по финансовому мониторингу.</li>
<li>Тренинги, семинары, мастер-классы российских и зарубежных специалистов рынка недвижимости.</li>
<li>Разработка обучающих программ / тренингов по Вашим заявкам.</li>
<li>Выездное обучение</li>
<li>Содействие  в трудоустройстве</li>
