@model dynamic

@{
    ViewBag.Title = "Документы учебного центра";
    Layout = "TrainingCenterLayout.cshtml";
}

<table width="100%">
    <thead>
        <tr>
            <th width="100%">
                Наименование документа
            </th> 
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Лицензия на образовательную деятельность
            </td>
            <td>
                <a href="/Templates/Docs/uc/lic1.jpg" target="_blank">
                    <img src="http://icons.iconarchive.com/icons/deleket/sleek-xp-basic/16/Document-icon.png"/>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Свидетельство об аккредитации
            </td>
            <td>
                <a href="/Templates/Docs/uc/lic2.jpg" target="_blank">
                    <img src="http://icons.iconarchive.com/icons/deleket/sleek-xp-basic/16/Document-icon.png"/>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Свидетельство о государственной регистрации
            </td>
            <td>
                <a href="/Templates/Docs/uc/lic3.jpg" target="_blank">
                    <img src="http://icons.iconarchive.com/icons/deleket/sleek-xp-basic/16/Document-icon.png"/>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Квитанция на оплату за аттестацию
            </td>
            <td>
                <a href="/Templates/Docs/uc/qwit1.pdf" target="_blank">
                    <img src="http://icons.iconarchive.com/icons/deleket/sleek-xp-basic/16/Document-icon.png"/>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Заявка на обучение
            </td>
            <td>
                <a href="/Templates/Docs/uc/tr-req.pdf" target="_blank">
                    <img src="http://icons.iconarchive.com/icons/deleket/sleek-xp-basic/16/Document-icon.png"/>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Устав Учебного Центра
            </td>
            <td>
                <a href="/Templates/Docs/uc/rules.pdf" target="_blank">
                    <img src="http://icons.iconarchive.com/icons/deleket/sleek-xp-basic/16/Document-icon.png"/>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Заявка-анкета студента Учебного Центра
            </td>
            <td>
                <a href="/Templates/Docs/uc/zayvka.pdf" target="_blank">
                    <img src="http://icons.iconarchive.com/icons/deleket/sleek-xp-basic/16/Document-icon.png"/>
                </a>
            </td>
        </tr>
    </tbody>
</table>