@model dynamic

@{
    ViewBag.Title = "Помощь в трудоустройстве";
    Layout = "TrainingCenterLayout.cshtml";
}

<h1>
    Содействие  в трудоустройстве
</h1>
<p>
Учебный центр оказывает бесплатные услуги слушателям по трудоустройству в риэлторские компании г. Хабаровска и Дальнего Востока.
</p>