@model dynamic

@{
    ViewBag.Title = "Преподователи Учебного Центра";
    Layout = "TrainingCenterLayout.cshtml";
}

<div id="teachers">
    <div class="teacher">
        <div class="teacher-photo">
            <img src="/Templates/Docs/uc/teachers/Байбародина.jpg" />
        </div>
        <div class="teacher-info">
            <div class="info-item">
                <div class="info-title">
                    ФИО:
                </div>
                <div class="info-content">
                    Байбородина Виктория Григорьевна 
                </div>
            </div>
            <div class="info-item">
                <div class="info-title">
                    Должность:
                </div>
                <div class="info-content">
                    Зав кафедры «Налогов и налогообложения», доцент ХГАЭП, г. Хабаровск
                </div>
            </div>
            <div class="info-item">
                <div class="info-title">
                    Образование:
                </div>
                <div class="info-content">
                    Высшее, кандидат экономических наук
                </div>
            </div>
            <div class="info-item">
                <div class="info-title">
                    Стаж работы в сфере недвижимости:
                </div>
                <div class="info-content">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="teacher">
        <div class="teacher-photo">
            <img src="/Templates/Docs/uc/teachers/Беленко.jpg" />
        </div>
        <div class="teacher-info">
            <div class="info-item">
                <div class="info-title">
                    ФИО:
                </div>
                <div class="info-content">
                    Беленко Ольга Федоровна
                </div>
            </div>
            <div class="info-item">
                <div class="info-title">
                    Должность:
                </div>
                <div class="info-content">
                    Доцент кафедры «Маркетинг и реклама» ХГАЭП, г. Хабаровск
                </div>
            </div>
            <div class="info-item">
                <div class="info-title">
                    Образование:
                </div>
                <div class="info-content">
                    Высшее, кандидат экономических наук
                </div>
            </div>
            <div class="info-item">
                <div class="info-title">
                    Стаж работы в сфере недвижимости:
                </div>
                <div class="info-content">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="teacher">
        <div class="teacher-photo">
            <img src="/Templates/Docs/uc/teachers/Карачунская.jpg" />
        </div>
        <div class="teacher-info">
            <div class="info-item">
                <div class="info-title">
                    ФИО:
                </div>
                <div class="info-content">
                    Карачунская Лариса Константиновна
                </div>
            </div>
            <div class="info-item">
                <div class="info-title">
                    Должность:
                </div>
                <div class="info-content">
                    Директор агентства недвижимости, г. Хабаровск
                </div>
            </div>
            <div class="info-item">
                <div class="info-title">
                    Образование:
                </div>
                <div class="info-content">
                    Высшее техническое, Высшее экономическое
                </div>
            </div>
            <div class="info-item">
                <div class="info-title">
                    Стаж работы в сфере недвижимости:
                </div>
                <div class="info-content">
                    с 1996
                </div>
            </div>
        </div>
    </div>
    <div class="teacher">
        <div class="teacher-photo">
            <img src="/Templates/Docs/uc/teachers/Коваленко.jpg" />
        </div>
        <div class="teacher-info">
            <div class="info-item">
                <div class="info-title">
                    ФИО:
                </div>
                <div class="info-content">
                    Коваленко Елена Геннадьевна
                </div>
            </div>
            <div class="info-item">
                <div class="info-title">
                    Должность:
                </div>
                <div class="info-content">
                    Доцент кафедры «Право» ХГАЭП, г. Хабаровск
                </div>
            </div>
            <div class="info-item">
                <div class="info-title">
                    Образование:
                </div>
                <div class="info-content">
                    Высшее, кандидат юридических наук

                </div>
            </div>
            <div class="info-item">
                <div class="info-title">
                    Стаж работы в сфере недвижимости:
                </div>
                <div class="info-content">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="teacher">
        <div class="teacher-photo">
            <img src="/Templates/Docs/uc/teachers/Краснер.jpg" />
        </div>
        <div class="teacher-info">
            <div class="info-item">
                <div class="info-title">
                    ФИО:
                </div>
                <div class="info-content">
                    Краснер Татьяна Владимировна
                </div>
            </div>
            <div class="info-item">
                <div class="info-title">
                    Должность:
                </div>
                <div class="info-content">
                    Бизнес-тренер, практикующий психолог, г. Хабаровск
                </div>
            </div>
            <div class="info-item">
                <div class="info-title">
                    Образование:
                </div>
                <div class="info-content">
                    Высшее по специальности «Психология», Высшее экономическое
                </div>
            </div>
            <div class="info-item">
                <div class="info-title">
                    Стаж работы в сфере недвижимости:
                </div>
                <div class="info-content">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="teacher">
        <div class="teacher-photo">
            <img src="/Templates/Docs/uc/teachers/Наумова.jpg" />
        </div>
        <div class="teacher-info">
            <div class="info-item">
                <div class="info-title">
                    ФИО:
                </div>
                <div class="info-content">
                    Наумова Валентина Валерьевна
                </div>
            </div>
            <div class="info-item">
                <div class="info-title">
                    Должность:
                </div>
                <div class="info-content">
                    Директор агентства недвижимости, г. Хабаровск
                </div>
            </div>
            <div class="info-item">
                <div class="info-title">
                    Образование:
                </div>
                <div class="info-content">
                    Высшее педагогическое
                </div>
            </div>
            <div class="info-item">
                <div class="info-title">
                    Стаж работы в сфере недвижимости:
                </div>
                <div class="info-content">
                    с 2000 года
                </div>
            </div>
        </div>
    </div>
    <div class="teacher">
        <div class="teacher-photo">
            <img src="/Templates/Docs/uc/teachers/Плоткина.png" />
        </div>
        <div class="teacher-info">
            <div class="info-item">
                <div class="info-title">
                    ФИО:
                </div>
                <div class="info-content">
                    Плоткина Анна Рафаиловна
                </div>
            </div>
            <div class="info-item">
                <div class="info-title">
                    Должность:
                </div>
                <div class="info-content">
                    Профессор кафедры «Антикризисное управление и оценка собственности» ХГАЭП, г. Хабаровск
                </div>
            </div>
            <div class="info-item">
                <div class="info-title">
                    Образование:
                </div>
                <div class="info-content">
                    Высшее, кандидат экономических наук
                </div>
            </div>
            <div class="info-item">
                <div class="info-title">
                    Стаж работы в сфере недвижимости:
                </div>
                <div class="info-content">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="teacher">
        <div class="teacher-photo">
            <img src="/Templates/Docs/uc/teachers/Порохова.jpg" />
        </div>
        <div class="teacher-info">
            <div class="info-item">
                <div class="info-title">
                    ФИО:
                </div>
                <div class="info-content">
                    Порохова Елена Федоровна
                </div>
            </div>
            <div class="info-item">
                <div class="info-title">
                    Должность:
                </div>
                <div class="info-content">
                    Директор агентства недвижимости, г. Хабаровск
                </div>
            </div>
            <div class="info-item">
                <div class="info-title">
                    Образование:
                </div>
                <div class="info-content">
                    Высшее педагогическое, Высшее экономическое
                </div>
            </div>
            <div class="info-item">
                <div class="info-title">
                    Стаж работы в сфере недвижимости:
                </div>
                <div class="info-content">
                    с 2000 года
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".teacher-photo img").click(function () {
            $.fancybox.open({ href: $(this).attr("src") });
        });
    });
</script>