@model dynamic
@{
    ViewBag.Title = "Целевой инструктаж";
    Layout = "TrainingCenterLayout.cshtml";
}
<h1><b>
    Целевой инструктаж и повышение квалификации по программам Федеральной службы по
    финансовому мониторингу.</b>
</h1>
<p>
    Целевой инструктаж по исполнению законодательства о противодействии легализации
    (отмыванию) доходов, полученных преступным путем и финансированию терроризма, обязателен
    для руководителей и специальных должностных лиц риэлторских компаний.
</p>
<p>
    Слушатели изучают институционально-правовые основы финансового мониторинга, организацию
    и осуществление внутреннего контроля в риэлторской компании, получают практические
    рекомендации по выявлению операций, подлежащих особому контролю.
</p>
<p>
    Занятия проводят представители Межрегионального управления Росфинмониторинга по
    ДВО.
</p>
<p>
    По результатам обучения слушатели получают свидетельство установленного образца,
    сроком действия 3-и года. Информация о лицах, получивших свидетельство, направляется
    в Федеральную службу по финансовому мониторингу.
</p>
<p>
    Требования к слушателям 
</p>
<ul>
    <li><a href="/Templates/Docs/progs/docsfor_enter.pdf" target="_blank">Документы для
        зачисления на обучение</a> </li>
    <li><a href="/Templates/Docs/progs/prices.pdf" target="_blank">Стоимость обучения</a>
    </li>
</ul>
<table border="1" cellspacing="0" cellpadding="0" width="100%">
    <tbody>
        <tr>
            <td  valign="top">
                <p>
                    №
                </p>
            </td>
            <td  valign="top">
                <p>
                    НАЗВАНИЕ ТЕМЫ
                </p>
            </td>
            <td  valign="top">
                <p>
                    Кол-во часов
                </p>
            </td>
        </tr>
        <tr>
            <td  valign="top">
                <p>
                    Раздел 1.
                </p>
            </td>
            <td  colspan="2" valign="top">
                <p>
                    Институционально-правовые основы финансового мониторинга
                </p>
            </td>
        </tr>
        <tr>
            <td  valign="top">
                <p>
                    Тема 1.
                </p>
            </td>
            <td  valign="top">
                <p>
                    <strong>Международные стандарты ПОД/ФТ</strong>
                </p>
                <p>
                    Правовые и институциональные основы международного сотрудничества в сфере ПОД/ФТ.
                </p>
                <p>
                    Формирование единой международной системы ПОД/ФТ. Организации и специализированные органы.
                </p>
                <p>
                    Международные стандарты ПОД/ФТ (40+9 Рекомендаций ФАТФ).
                </p>
            </td>
            <td  valign="top">
                <p align="center">
                    1
                </p>
            </td>
        </tr>
        <tr>
            <td  valign="top">
                <p>
                    Тема 2.
                </p>
            </td>
            <td  valign="top">
                <p>
                    <strong>Правовое регулирование в сфере ПОД/ФТ</strong>
                </p>
                <p>
                    Национальная система ПОД/ФТ. Общая характеристика нормативных правовых актов Российской Федерации в сфере ПОД/ФТ. Последние изменения в
                    законодательстве Российской Федерации в сфере ПОД/ФТ.
                </p>
                <p>
                    Государственная система ПОД/ФТ. Федеральные органы исполнительной власти.
                </p>
                <p>
                    Правовой статус Федеральной службы по финансовому мониторингу. Государственное регулирование в банковской сфере, на страховом рынке и рынке
                    ценных бумаг, на рынке драгоценных металлов и драгоценных камней, в сфере федеральной почтовой связи, кредитной кооперации и
                    микрофинансирования. Государственное регулирование других организаций, осуществляющих операции с денежными средствами или иным имуществом,
                    не имеющих надзорных органов.
                </p>
                <p>
                    Организационная структура надзорных органов и их территориальные подразделения.
                </p>
                <p>
                    Саморегулируемые организации и их роль.
                </p>
            </td>
            <td  valign="top">
                <p align="center">
                    1
                </p>
            </td>
        </tr>
        <tr>
            <td  valign="top">
                <p>
                    Тема 3.
                </p>
            </td>
            <td  valign="top">
                <p>
                    <strong>Надзор в сфере ПОД/ФТ</strong>
                </p>
                <p>
                    Формы надзора и виды проверок. Планирование проверок. Основания проведения проверок по вопросам ПОД/ФТ. Объекты проверки. Права
                    проверяющего государственного органа.
                </p>
                <p>
                    Порядок проведения проверок по вопросам ПОД/ФТ в финансовых и нефинансовых организациях.
                </p>
                <p>
                    Взаимодействие Федеральной службы по финансовому мониторингу с надзорными органами.
                </p>
            </td>
            <td  valign="top">
                <p align="center">
                    1
                </p>
            </td>
        </tr>
        <tr>
            <td  valign="top">
                <p>
                    Раздел 2.
                </p>
            </td>
            <td  colspan="2" valign="top">
                <p>
                    Организация и осуществление внутреннего контроля
                </p>
            </td>
        </tr>
        <tr>
            <td  valign="top">
                <p>
                    Тема 4.
                </p>
            </td>
            <td  valign="top">
                <p>
                    <strong>Права и обязанности организаций, осуществляющих операции с денежными средствами или иным имуществом</strong>
                </p>
                <p>
                    Финансовые и нефинансовые организации, представители нефинансовых отраслей и профессий. Лицензирование или специальный учет организаций,
                    осуществляющих операции с денежными средствами или иным имуществом.
                </p>
                <p>
                    Основные права и обязанности организаций, осуществляющих операции с денежными средствами или иным имуществом. Идентификация клиентов и
                    выгодоприобретателей; обеспечение конфиденциальности информации; фиксирование сведений; хранение информации; приостановление операций.
                </p>
                <p>
                    Порядок представления информации об операциях, подлежащих контролю, в Федеральную службу по финансовому мониторингу. Сроки представления.
                    Способы представления. Использование АРМ "Организация". Единый формат представления информации. Рассмотрение типовых ошибок в представлении
                    информации. Исполнение запросов Федеральной службы по финансовому мониторингу.
                </p>
            </td>
            <td  valign="top">
                <p align="center">
                    1
                </p>
            </td>
        </tr>
        <tr>
            <td  valign="top">
                <p>
                    Тема 5.
                </p>
            </td>
            <td  valign="top">
                <p>
                    <strong>Требования к разработке правил внутреннего контроля</strong>
                </p>
                <p>
                    Лица, ответственные за разработку правил внутреннего контроля. Разработка правил внутреннего контроля. Обязательные компоненты правил
                    внутреннего контроля. Рекомендуемые программы осуществления правил внутреннего контроля. Программа оценки риска. Программа проверки
                    внутреннего контроля.
                </p>
                <p>
                    Порядок утверждения и согласования правил внутреннего контроля. Сроки утверждения и согласования. Основания для отказа в согласовании.
                </p>
            </td>
            <td  valign="top">
                <p align="center">
                    1
                </p>
            </td>
        </tr>
        <tr>
            <td  valign="top">
                <p>
                    Тема 6.
                </p>
            </td>
            <td  valign="top">
                <p>
                    <strong>Критерии выявления операций, подлежащих контролю</strong>
                </p>
                <p>
                    Операции, подлежащие обязательному контролю. Критерии выявления и признаки необычных сделок как программа системы внутреннего контроля
                    организаций, осуществляющих операции с денежными средствами или иным имуществом. Практические примеры необычных сделок.
                </p>
                <p>
                    Типологии легализации (отмывания) доходов, полученных преступным путем, и финансирования терроризма. Характерные схемы и способы
                    легализации (отмывания) доходов, полученных преступным путем, и финансирования терроризма.
                </p>
            </td>
            <td  valign="top">
                <p align="center">
                    1
                </p>
            </td>
        </tr>
        <tr>
            <td  valign="top">
                <p>
                    Тема 7.
                </p>
            </td>
            <td  valign="top">
                <p>
                    <strong>Ответственность за нарушение законодательства Российской Федерации в сфере ПОД/ФТ</strong>
                </p>
                <p>
                    Виды ответственности за нарушения требований законодательства Российской Федерации в сфере ПОД/ФТ (уголовная, административная,
                    гражданско-правовая). Основания для привлечения к ответственности лиц, допустивших нарушения законодательства Российской Федерации в сфере
                    ПОД/ФТ.
                </p>
                <p>
                    Меры административной ответственности за нарушение законодательства Российской Федерации в сфере ПОД/ФТ в рамках Кодекса Российской
                    Федерации об административных правонарушениях и порядок их применения. Полномочия должностных лиц государственных (надзорных) органов.
                    Пересмотр решений должностных лиц в порядке обжалования.
                </p>
            </td>
            <td  valign="top">
                <p align="center">
                    1
                </p>
            </td>
        </tr>
        <tr>
            <td  valign="top">
                <p>
                    Тема 8.
                </p>
            </td>
            <td  valign="top">
                <p>
                    <strong>Система подготовки и обучения кадров организаций</strong>
                </p>
                <p>
                    Квалификационные требования к специальному должностному лицу. Права и обязанности специального должностного лица.
                </p>
                <p>
                    Обучение и подготовка кадров. Перечень работников, обязанных проходить обучение и подготовку по вопросам ПОД/ФТ. Формы, периодичность и
                    сроки обучения. Обязанности руководителя организации, осуществляющей операции с денежными средствами или иным имуществом.
                </p>
            </td>
            <td  valign="top">
                <p align="center">
                    0,5
                </p>
            </td>
        </tr>
        <tr>
            <td  valign="top">
                <p>
                    Раздел 3.
                </p>
            </td>
            <td  valign="top">
                <p>
                    <strong>
                        Актуальные вопросы применения законодательства Российской Федерации в сфере ПОД/ФТ в различных секторах экономики и видах
                        профессиональной деятельности
                    </strong>
                </p>
                <p>
                    Проблемы исполнения законодательства Российской Федерации в сфере ПОД/ФТ с учетом особенностей деятельности организаций, осуществляющих
                    операции с денежными средствами или иным имуществом, и их клиентов.
                </p>
                <p>
                    Вопросы/ответы экспертов и представителей надзорных органов.
                </p>
            </td>
            <td  valign="top">
                <p align="center">
                    0,5
                </p>
            </td>
        </tr>
        <tr>
            <td  valign="top">
            </td>
            <td  valign="top">
                <p>
                    Тестирование
                </p>
            </td>
            <td  valign="top">
                <p align="center">
                    0,5
                </p>
            </td>
        </tr>
    </tbody>
</table>