@model dynamic
@{
    ViewBag.Title = "Учебный класс";
    Layout = "TrainingCenterLayout.cshtml";
}
<div style="margin-top: 20px" class="static-content">
    <div>
        <div style="float: right; margin-left: 10px; margin-bottom: 20px">
            <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=1WUKKdnl3tZywHrVZLrWQeykOMnFxqwx&width=382&height=254"></script>
        </div>
        <p>
            Адрес: г.Хабаровск, улица Ленинградская 44, офис 502 (левое крыло, пятый этаж)
        </p>
        <p>
            Характеристики помещения: площадь помещения 46 м кв, высокие потолки
        </p>
        <p>
            Вместимость: 25 человек, возможно 30 человек.
        </p>
    </div>
    <div style="clear: both; margin-top: 25px">
        <p style="margin-top: 25px; clear: both">
            <img src="/Content/images/mainpage/tc/tc1.jpg" width="100%" />
        </p>
        <p>
            <img src="/Content/images/mainpage/tc/tc2.jpg" width="100%" />
        </p>
        <p>
            <a href="/training-center/rent">Аренда учебного класса</a>
        </p>
    </div>
    <div class="clear">
    </div>
</div>
