@model dynamic
@{
    ViewBag.Title = "Программы для риэлторов";
    Layout = "TrainingCenterLayout.cshtml";
}
<h1>
    <b>Многоуровневые Учебные программы для риэлторов</b>
</h1>
<ul>
    <li>программа профессионального обучения нулевого уровня «Базовый курс риэлтора»
    </li>
    <li>программа профессионального обучения первого уровня «Специалист по недвижимости
        – Агент» по стандартам РГР </li>
    <li>программа профессионального обучения второго уровня «Специалист по недвижимости
        –Брокер» по стандартам РГР </li>
    <li>программа повышения квалификации действующих риэлторов «Ипотечный консультант»
    </li>
</ul>
<h2>
    <b>Программа «Базовый курс риэлтора» </b>
</h2>
<p>
    Программа разработана для новичков риэлторского бизнеса с опытом работы на рынке
    недвижимости до 3-х месяцев либо без опыта
</p>
<p>
    Слушатели изучают суть и значение профессии «РИЭЛТОР», основные понятия рынка недвижимости,
    получают техническую информацию об объектах недвижимости (планировки квартир, районы
    и улицы города),осваивают методы поиска клиентов, осмотра квартир, знакомятся с
    психологией клиентов.
</p>
<p>
    Занятия проводят руководители и сотрудники агентств с опытом риэлторской деятельности
    не менее 10 лет.
</p>
<p>
    По результатам обучения слушатели сдают экзамен в форме теста и получают документ
    об обучении, утвержденный Учебным центром.
</p>
<p>
    Программа находится в разработке. Ориентировочный срок начала обучения по программе
    - ноябрь 2013 г.
</p>
<h2>
    <b>Программа «Специалист по недвижимости – Агент»</b>
</h2>
<p>
    Программа разработана для риэлторов, имеющих опыт работы на рынке недвижимости от
    3-х месяцев.</p>
<p>
    Слушатели получают знания по юридическим, экономическим, психологическим основам
    риэлторского дела, современной технологии продажи риэлторских услуг.
</p>
<p>
    Занятия проводят преподаватели ВУЗов г. Хабаровска и руководители агентств с опытом
    риэлторской деятельности не менее 10 лет.</p>
<p>
    По окончание обучения слушатели сдают квалификационный экзамен в форме теста на
    получение аттестата Российской Гильдии Риэлторов.
</p>
<p>
    По результатам тестирования слушатель получает аттестат Агента сроком действия 3-и
    года, образец которого утвержден Российской Гильдией Риэлторов. Персональные данные
    Агента (ФИО, номер аттестата, срок его действия) размещаются на сайте Российской
    Гильдии Риэлторов www.rgr.ru в разделе «Единый реестр»
</p>
<p>
    <h2>
        <b>Требования к слушателям по программе «Агент»: </b>
    </h2>
    <ul>
        <li>наличие образования не ниже средне-специального. </li>
        <li><a href="/Templates/Docs/progs/docsfor_enter.pdf" target="_blank">Документы для
                зачисления на обучение</a> </li>
        <li><a href="/Templates/Docs/progs/prices.pdf" target="_blank">Стоимость обучения</a>
        </li>
        <li><a href="/Templates/Docs/progs/social.pdf" target="_blank">Обучение за счет службы
                занятости</a> </li>
    </ul>
    <h2>
        <b>Содержание программы «Специалист по недвижимости – Агент»</b>
    </h2>
    <table border="1" cellspacing="0" cellpadding="0" width="100%">
        <tbody>
            <tr>
                <td rowspan="2" valign="top">
                    <p>
                        №
                    </p>
                </td>
                <td rowspan="2" valign="top">
                    <p>
                        Наименование темы
                    </p>
                </td>
                <td rowspan="2" valign="top">
                    <p>
                        Всего Ак/час
                    </p>
                </td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        1
                    </p>
                </td>
                <td valign="top">
                    <p>
                        <strong>Основные понятия рынка недвижимости</strong>
                    </p>
                    <p>
                        Недвижимость и ее особенности как товара. Рынок недвижимости и его функции. Особенности
                        рынка недвижимости. Первичный и вторичный рынки недвижимости.
                    </p>
                </td>
                <td valign="top">
                    <p>
                        4
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        2
                    </p>
                </td>
                <td valign="top">
                    <p>
                        <strong>Понятие и организация риэлторской деятельности. История ее регулирования. Сертификация
                            услуг на рынке недвижимости. Национальный стандарт профессиональной деятельности.
                        </strong>
                    </p>
                    <p>
                        Риэлторская услуга: содержание и основные составляющие. Принципы функционирования
                        системы сертификации. Основные положения Системы добровольной сертификации услуг
                        на рынке недвижимости. Основной Стандарт «Услуги брокерские на рынке недвижимости.
                        Общие требования».
                    </p>
                </td>
                <td valign="top">
                    <p>
                        2
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        3
                    </p>
                </td>
                <td valign="top">
                    <p>
                        <strong>Гражданское, жилищное, земельное, семейное, налоговое законодательство в сфере
                            недвижимости, нотариальные действия при операциях с недвижимостью. </strong>
                    </p>
                    <p>
                        Гражданское законодательство о сделках с недвижимостью. Виды сделок, их особенности
                        и правовое оформление. Договорные отношения риэлтора с клиентами. Виды договоров.
                        Жилищное и семейное законодательство о недвижимости. Нотариальное удостоверение.
                    </p>
                </td>
                <td valign="top">
                    <p>
                        12
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        4
                    </p>
                </td>
                <td valign="top">
                    <p>
                        <strong>Учет недвижимости, регистрация прав на недвижимость и сделок с ней.</strong>
                    </p>
                    <p>
                        Понятие государственной регистрации прав на недвижимость. Требования к документам.
                        Порядок государственной регистрации прав на недвижимое имущество и сделок с ним.
                        Прием документов на госрегистрацию прав на недвижимое имущество и сделок с ним.
                    </p>
                </td>
                <td valign="top">
                    <p>
                        4
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        5
                    </p>
                </td>
                <td valign="top">
                    <p>
                        <strong>Технология оказания риэлторских услуг</strong> .<strong></strong>
                    </p>
                    <p>
                        Риэлторская услуга: содержание и основные составляющие. Методы поиска, отбора и
                        удержания клиентов. Сделки с недвижимостью, их этапы и функции агента. Организация
                        переговоров.
                    </p>
                </td>
                <td valign="top">
                    <p>
                        10
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        6
                    </p>
                </td>
                <td valign="top">
                    <p>
                        <strong>Основы оценки стоимости недвижимости.</strong>
                    </p>
                    <p>
                        Ценообразование на рынке недвижимости. Факторы формирования цены на объекты недвижимости.
                        Оценка стоимости объекта.
                    </p>
                </td>
                <td valign="top">
                    <p>
                        2
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        7
                    </p>
                </td>
                <td valign="top">
                    <p>
                        <strong>Психологические аспекты риэлторской деятельности.</strong>
                    </p>
                    <p>
                        Психология и навыки эффективного общения. Психологические типы клиентов и стратегия
                        поведения агента. Психология убеждения и переговоров.
                    </p>
                </td>
                <td valign="top">
                    <p>
                        24
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        8
                    </p>
                </td>
                <td valign="top">
                    <p>
                        <strong>Информационное обеспечение риэлторской деятельности</strong>
                    </p>
                    <p>
                        Маркетинг, реклама и продвижение объектов недвижимости на рынок. Мультилистинговая
                        система. Использование МЛС в совместных сделках. Возможности МЛС для агента.
                    </p>
                </td>
                <td valign="top">
                    <p>
                        2
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        9
                    </p>
                </td>
                <td valign="top">
                    <p>
                        <strong>Региональный компонент рынка недвижимости</strong>
                    </p>
                    <p>
                        Программа переселения северных районов, молодежная, социальная и др. программы Дальневосточного
                        федерального округа
                    </p>
                </td>
                <td valign="top">
                    <p>
                        4
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                </td>
                <td valign="top">
                    <p>
                        Итоговый контроль
                    </p>
                </td>
                <td valign="top">
                    <p>
                        2
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                </td>
                <td valign="top">
                    <p>
                        <strong>ИТОГО</strong>
                    </p>
                </td>
                <td valign="top">
                    <p>
                        <strong>66</strong>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <h2>
        <b>Программа «Специалист по недвижимости – Брокер» </b>
    </h2>
    <p>
        Программа разработана для риэлторов, имеющих опыт работы на рынке недвижимости в
        руководящей должности от 2 лет либо имеющих опыт работы аттестованным Агентом не
        менее 3 лет
    </p>
</p>
<p>
    Программа разработана для риэлторов, имеющих опыт работы на рынке недвижимости в
    руководящей должности от 2 лет либо имеющих опыт работы аттестованным Агентом не
    менее 3 лет
</p>
<p>
    Слушатели получают углубленные знания по юридическим, экономическим, психологическим
    аспектамриэлторского дела, современной технологии продажи риэлторских услуг, управлению
    риэлторской компанией.
</p>
<p>
    Занятия проводят преподаватели ВУЗов г. Хабаровска и руководители агентств с опытом
    риэлторской деятельности не менее 10 лет.
</p>
<p>
    По окончании обучения слушатели сдают квалификационный экзамен в форме теста на
    получение аттестата Российской Гильдии Риэлторов.
</p>
<p>
    По результатам тестирования слушатель получает аттестат Брокера сроком действия
    3-и года, образец которого утвержден Российской Гильдией Риэлторов. Персональные
    данные Брокера (ФИО, номер аттестата, срок его действия) размещаются на сайте Российской
    Гильдии Риэлторов www.rgr.ru в разделе «Единый реестр»
</p>
<p>
    Требования к слушателям
</p>
<ul>
    <li>Наличие высшего образования </li>
    <li>Наличие квалификационного аттестата «Агент» Стаж работы в риэлторском бизнесе не
        менее 3-х лет Стаж работы аттестованным Агентом не менее 3-х лет либо стаж руководящей
        работы в риэлторской компании с правомподписи договоров на оказание брокерских услуг
        не менее 1 года </li>
    <li><a href="/Templates/Docs/progs/docsfor_enter.pdf" target="_blank">Документы для
        зачисления на обучение</a> </li>
    <li><a href="/Templates/Docs/progs/prices.pdf" target="_blank">Стоимость обучения</a>
    </li>
    <li><a href="/Templates/Docs/progs/social.pdf" target="_blank">Обучение за счет службы
        занятости</a> </li>
</ul>
<h3>
    <b>Содержание программы «Специалист по недвижимости – Брокер»</b>
</h3>
<table border="1" cellspacing="0" cellpadding="0" width="100%">
    <tbody>
        <tr>
            <td rowspan="2" valign="top">
                <p>
                    №
                </p>
            </td>
            <td rowspan="2" valign="top">
                <p>
                    Наименование темы
                </p>
            </td>
            <td rowspan="2" valign="top">
                <p>
                    Всего Ак/час
                </p>
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    1
                </p>
            </td>
            <td valign="top">
                <p>
                    <strong>Основные понятия рынка недвижимости</strong>
                </p>
                <p>
                    Недвижимость и ее особенности как товара. Рынок недвижимости и его функции. Особенности
                    рынка недвижимости. Первичный и вторичный рынки недвижимости.
                </p>
            </td>
            <td valign="top">
                <p>
                    2
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    2
                </p>
            </td>
            <td valign="top">
                <p>
                    <strong>Понятие и организация риэлторской деятельности. История ее регулирования. Сертификация
                        услуг на рынке недвижимости. Национальный стандарт профессиональной деятельности.
                    </strong>
                </p>
                <p>
                    Риэлторская услуга: содержание и основные составляющие. Принципы функционирования
                    системы сертификации. Основные положения Системы добровольной сертификации услуг
                    на рынке недвижимости. Основной Стандарт «Услуги брокерские на рынке недвижимости.
                    Общие требования».
                </p>
            </td>
            <td valign="top">
                <p>
                    2
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    3
                </p>
            </td>
            <td valign="top">
                <p>
                    <strong>Гражданское, жилищное, семейное законодательство в сфере недвижимости, нотариальные
                        действия при операциях с недвижимостью. </strong>
                </p>
                <p>
                    Гражданское законодательство о сделках с недвижимостью. Виды сделок, их особенности
                    и правовое оформление. Договорные отношения риэлтора с клиентами. Виды договоров.
                    Жилищное и семейное законодательство о недвижимости. Нотариальное удостоверение.
                </p>
            </td>
            <td valign="top">
                <p>
                    20
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    4
                </p>
            </td>
            <td valign="top">
                <p>
                    <strong>Учет недвижимости, регистрация прав на недвижимость и сделок с ней</strong>
                </p>
                <p>
                    Понятие государственной регистрации прав на недвижимость. Требования к документам.
                    Порядок государственной регистрации прав на недвижимое имущество и сделок с ним.
                    Прием документов на госрегистрацию прав на недвижимое имущество и сделок с ним.
                </p>
            </td>
            <td valign="top">
                <p>
                    4
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    5
                </p>
            </td>
            <td valign="top">
                <p>
                    <strong>Технология оказания риэлторских услуг.</strong>
                </p>
                <p>
                    Риэлторская услуга: содержание и основные составляющие. Методы поиска, отбора и
                    удержания клиентов. Сделки с недвижимостью, их этапы и функции агента. Организация
                    переговоров.
                </p>
            </td>
            <td valign="top">
                <p>
                    4
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    6
                </p>
            </td>
            <td valign="top">
                <p>
                    <strong>Основы оценки стоимости недвижимости.</strong>
                </p>
                <p>
                    Ценообразование на рынке недвижимости. Факторы формирования цены на объекты недвижимости.
                    Оценка стоимости объекта.
                </p>
            </td>
            <td valign="top">
                <p>
                    2
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    7
                </p>
            </td>
            <td valign="top">
                <p>
                    <strong>Психологические аспекты риэлторской деятельности.</strong>
                </p>
                <p>
                    Психология и навыки эффективного общения. Психологические типы клиентов и стратегия
                    поведения агента. Психология убеждения и переговоров.
                </p>
            </td>
            <td valign="top">
                <p>
                    12
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    8
                </p>
            </td>
            <td valign="top">
                <p>
                    <strong>Информационное обеспечение риэлторской деятельности.</strong>
                </p>
                <p>
                    Маркетинг, реклама и продвижение объектов недвижимости на рынок. Мультилистинговая
                    система. Использование МЛС в совместных сделках. Возможности МЛС для агента.
                </p>
            </td>
            <td valign="top">
                <p>
                    4
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    9
                </p>
            </td>
            <td valign="top">
                <p>
                    <strong>Судебно-арбитражная практика в сфере недвижимости.</strong>
                </p>
                <p>
                    Общие принципы организации судопроизводства в РФ. Виды судов, сфера их деятельности
                    и специфика организации деятельности. Обзор судебно-арбитражной практики по спорам
                    в сфере недвижимости. Создание Третейского суда при региональной Ассоциации.
                </p>
            </td>
            <td valign="top">
                <p>
                    4
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    10
                </p>
            </td>
            <td valign="top">
                <p>
                    <strong>Земельное законодательство</strong>
                </p>
                <p>
                    Земля как объект права. Правоустанавливающие документы на землепользование. Собственность
                    и иные вещные права на землю. Особенности приватизации земли. Компетенция органов
                    власти и управления по вопросам землепользования. Предоставление, оформление прав
                    на землю. Продажа (выкуп) земельных участков. Нормативная база земельных отношений
                    и основные проблемы и механизмы ее реализации.
                </p>
            </td>
            <td valign="top">
                <p>
                    4
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    11
                </p>
            </td>
            <td valign="top">
                <p>
                    <strong>Ипотека на рынке недвижимости.</strong>
                </p>
                <p>
                    Ипотека и ее основные характеристики. Законодательная основа ипотечных операций.
                    Предмет ипотеки. Документы для получения ипотечного кредита. Необходимые условия
                    выдачи ипотечных кредитов.
                </p>
            </td>
            <td valign="top">
                <p>
                    4
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    12
                </p>
            </td>
            <td valign="top">
                <p>
                    <strong>Региональный компонент рынка недвижимости.</strong>
                </p>
                <p>
                    Программа переселения северных районов, молодежная, социальная и др. программы Дальневосточного
                    федерального округа
                </p>
            </td>
            <td valign="top">
                <p>
                    4
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    13
                </p>
            </td>
            <td valign="top">
                <p>
                    <strong>Инвестиционная и девелоперская деятельность на рынке недвижимости.</strong>
                </p>
                <p>
                    Основы инвестиционного законодательства в Российской Федерации. Права инвесторов.
                    Источники финансирования строительства и реконструкции объектов недвижимости. Способы
                    привлечения инвестиций: ценные бумаги, долевое строительство и т.д.
                </p>
            </td>
            <td valign="top">
                <p>
                    4
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    14
                </p>
            </td>
            <td valign="top">
                <p>
                    <strong>Налогообложение недвижимости.</strong>
                </p>
                <p>
                    Налоговая система в Российской Федерации. Налоги, возникающие при сделках с недвижимостью.
                    Налоги, возникающие при владении недвижимостью на праве собственности. Налоги и
                    сборы с юридических и физических лиц при владениинедвижимостью. Новое в налогообложении
                    недвижимости и сделок с недвижимостью.
                </p>
            </td>
            <td valign="top">
                <p>
                    4
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    15
                </p>
            </td>
            <td valign="top">
                <p>
                    <strong>Страхование на рынке недвижимости.</strong>
                </p>
                <p>
                    Понятие страхования. Виды страхования на рынке недвижимости. Страхование имущества
                    физических и юридических лиц. Титульное страхование. Страхование финансовых рисков
                    в долевом строительстве. Страхование при ипотечном кредитовании. Страхование профессиональной
                    ответственности риэлторов.
                </p>
            </td>
            <td valign="top">
                <p>
                    4
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    16
                </p>
            </td>
            <td valign="top">
                <p>
                    <strong>Риэлторская фирма и организация ее деятельности.</strong>
                </p>
                <p>
                    Риэлторская фирма как субъект рынка. Функции риэлторской фирмы (экономический, социальный
                    и правовые аспекты). Структура и организация деятельности риэлторской фирмы. Организация
                    и оплата труда персонала фирмы.
                </p>
            </td>
            <td valign="top">
                <p>
                    6
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    17
                </p>
            </td>
            <td valign="top">
                <p>
                    <strong>Основы общего менеджмента.</strong>
                </p>
                <p>
                    Общие понятия менеджмента. Виды менеджмента. Факторы, способствующие преуспеванию
                    фирмы.
                </p>
            </td>
            <td valign="top">
                <p>
                    8
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    18
                </p>
            </td>
            <td valign="top">
                <p>
                    <strong>Трудоохранный менеджмент.</strong>
                </p>
                <p>
                    Общетеоретические и методологические основы трудоохранного менеджмента. Принципы
                    обеспечения безопасности труда и задачи трудоохранного менеджмента. Система трудоохранного
                    менеджмента и его уровни. Функции трудоохранного менеджмента.
                </p>
            </td>
            <td valign="top">
                <p>
                    4
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    19
                </p>
            </td>
            <td valign="top">
                <p>
                    <strong>Управление персоналом в риэлторских компаниях.</strong>
                </p>
                <p>
                    Работа с персоналом. Подбор, расстановка, обучение, мотивация качественной работы
                    и развития, планирование карьеры. Развитие профессиональных навыков. Постановка
                    долгосрочных целей. Постановка ежедневных целей.
                </p>
            </td>
            <td valign="top">
                <p>
                    12
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    20
                </p>
            </td>
            <td valign="top">
                <p>
                    <strong>Основы финансового менеджмента.</strong>
                </p>
                <p>
                    Сущность, содержание и роль финансов в рыночной экономике. Финансовый рынок, его
                    институты и механизмы управления. Финансовые риски и способы их снижения. Данные
                    для финансового менеджмента. Отчет о доходах. Баланс. Отчет о движении денежных
                    средств. Бюджет фирмы. Анализ и корректировка бюджета. Учетная политика фирмы.
                </p>
            </td>
            <td valign="top">
                <p>
                    6
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    21
                </p>
            </td>
            <td valign="top">
                <p>
                    <strong>Стратегический менеджмент.</strong>
                </p>
                <p>
                    Содержание стратегического менеджмента. Основные понятия стратегического менеджмента.
                    Стратегические проблемы развития фирмы. Концепции Стратегического управления. Бизнес-план
                    как основной инструмент обоснования, формирования и реализации стратегии фирмы.
                    Процедура проведения системного анализа в стратегическом менеджменте.
                </p>
            </td>
            <td valign="top">
                <p>
                    6
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    22
                </p>
            </td>
            <td valign="top">
                <p>
                    <strong>Основы маркетинга на рынке недвижимости.</strong>
                </p>
                <p>
                    Понятие и сущность маркетинга. Основные функции маркетинга. Сегментирование рынка
                    недвижимости.
                </p>
            </td>
            <td valign="top">
                <p>
                    6
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
            </td>
            <td valign="top">
                <p>
                    Итоговый контроль
                </p>
            </td>
            <td valign="top">
                <p>
                    4
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
            </td>
            <td valign="top">
                <p>
                    <strong>Итого </strong>
                </p>
            </td>
            <td valign="top">
                <p>
                    <strong>130</strong>
                </p>
            </td>
        </tr>
    </tbody>
</table>
<h2>
    <b>Программа «Ипотечный консультант» </b>
</h2>
<p>
    Программа разработана для риэлторов, желающих познакомиться с особенностями ипотечного
    кредитования, освоить новую специализацию. К участию в программе допускаются риэлторы,
    имеющие аттестаты Агента или Брокера.
</p>
<p>
    Слушатели изучают суть ипотеки и ипотечного кредитования, требования банков к андеррайтингу
    заемщика и предмета залога, знакомятся с технологией оформления ипотечной сделки,
    порядком мониторинга ипотечных кредитов, программами ведущих банков-партнеров НП
    «РДВ»
</p>
<p>
    Занятия проводят преподаватели Хабаровской государственной академии экономики и
    права, сотрудники банков г. Хабаровска.
</p>
<p>
    По результатам теоретического обучения слушатели сдают экзамен в форме теста, и
    получают свидетельство об обучении сроком действия 3-и года, утвержденный Учебным
    центром.
</p>
<p>
    По результатам практического обучения слушатели сдают устный экзамен и получают
    сертификаты банков – участников практической части программы.
</p>
<p>
    Требования к слушателям
</p>
<p>
    <ul>
        <li>Наличие квалификационного аттестата «Агент» или «Брокер» (в отдельных случаях не
            требуется) </li>
        <li><a href="/Templates/Docs/progs/docsfor_enter.pdf" target="_blank">Документы для
            зачисления на обучение</a> </li>
        <li><a href="/Templates/Docs/progs/prices.pdf" target="_blank">Стоимость обучения</a>
        </li>
        <li><a href="/Templates/Docs/progs/social.pdf" target="_blank">Обучение за счет службы
            занятости</a> </li>
    </ul>
    <table border="1" cellspacing="0" cellpadding="0" width="100%">
        <tbody>
            <tr>
                <td rowspan="2" valign="top">
                    <p>
                        №
                    </p>
                </td>
                <td rowspan="2" valign="top">
                    <p>
                        Наименование темы
                    </p>
                </td>
                <td rowspan="2" valign="top">
                    <p>
                        Всего Ак/час
                    </p>
                </td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        А)
                    </p>
                </td>
                <td valign="top">
                    <p>
                        ТЕОРЕТИЧЕСКАЯ ЧАСТЬ
                    </p>
                </td>
                <td valign="top">
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        1
                    </p>
                </td>
                <td valign="top">
                    <p>
                        <strong>Функции ипотечного консультанта в риэлторской компании</strong>
                    </p>
                    <p>
                        Особенности действий при первичной консультации клиента. Роль консультанта при оформлении
                        ипотечного кредита. Взаимодействие с партнерами по сделке. Психологические аспекты
                        ипотечного кредитования
                    </p>
                </td>
                <td valign="top">
                    <p>
                        2
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        2
                    </p>
                </td>
                <td valign="top">
                    <p>
                        <strong>Ипотечное кредитование: общие положения, история развития, мировой опыт, российская
                            практика</strong>
                    </p>
                    <p>
                        Понятие ипотеки (в узком смысле, в широком смысле, ипотека в силу закона, ипотека
                        в силу договора). История развития института ипотеки. Ипотечный рынок: понятие,
                        структура, риски, способы минимизации. Система ипотечного кредитования (система
                        сбережений, вторичный рынок). Модели организации ипотечного кредитования: характеристика,
                        сравнение. Мировой опыт ипотечного кредитования. Опыт кредитования по залог недвижимости
                        в России: история и современность, участие государства в развитии ипотечного рынка.
                    </p>
                </td>
                <td valign="top">
                    <p>
                        3
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        3
                    </p>
                </td>
                <td valign="top">
                    <p>
                        <strong>Источники финансирования рынка ипотечного кредитования</strong>
                    </p>
                    <p>
                        Состав и структура источников финансирования ипотеки в мире и РФ. Характеристика
                        источников, механизм привлечения средств: депозиты, ипотечные ценные бумаги, ЗПИФ,
                        средства бюджетов всех уровней, АИЖК, ЕБРР и пр.), ЖСК, финансирование строительства.
                        Проблемы привлечения средств.
                    </p>
                </td>
                <td valign="top">
                    <p>
                        1
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        4
                    </p>
                </td>
                <td valign="top">
                    <p>
                        <strong>Нормативно-правовое регулирование ипотечного кредитования</strong>
                    </p>
                    <p>
                        Институт залога в РФ. Система норм права, регулирующих залоговые правоотношения.
                        Ипотека как форма обеспечения обязательств, требования к предмету ипотеки. Условия
                        юридической чистоты предмета ипотеки. Требования к договору ипотеки. Обращение взыскания
                        на предмет ипотеки. Спорные вопросы залоговых правоотношений.
                    </p>
                </td>
                <td valign="top">
                    <p>
                        4
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        5
                    </p>
                </td>
                <td valign="top">
                    <p>
                        <strong>Организация процесса выдачи ипотечных кредитов банком</strong>
                    </p>
                    <p>
                        Банковские ресурсы: источники формирования, формула процентной ставки по кредитам,
                        схема: депозит-кредит. Общие параметры и условия кредитования, факторы изменения
                        спроса на кредиты, тенденции приближения к западным нормам кредитования. - Участники
                        процесса ипотечного кредитования: кредитор, заемщик/созаемщик, риэлтор, оценщик,
                        страховщик, кредитные бюро, гос органы и пр., их роль и взаимосвязь, аккредитация
                        участников банком, преимущества и проблемы взаимодействия. Этапы ипотечного кредитования:
                        характеристика, функции банка, заемщика, риэлтора, расходы времени и средств клиента.
                    </p>
                </td>
                <td valign="top">
                    <p>
                        4
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        6
                    </p>
                </td>
                <td valign="top">
                    <p>
                        <strong>Андеррайтинг заемщика, расчет параметров кредита</strong>
                    </p>
                    <p>
                        Понятие андеррайтинга, виды (предварительная и окончательная квалификация), содержание.
                        Коэффициенты андеррайтинга: П/Д (платеж/доход); О/Д (обязательства/доход); К/З (кредит/залог);
                        Иные коэффициенты – содержание, порядок расчета, значение. Скоринг в ипотечном кредитовании.
                        Ипотечный калькулятор: определение максимальной суммы кредита. Требования к заемщику
                        по разным критериям: возраст, доход, сфера занятости (найм, владелец бизнеса, иной
                        доход, сезонный заработок, адвокат/нотариус), состав семьи и пр. Перечень документов
                        для получения кредита. Совокупный доход семьи, подтверждение дохода. Функции подразделений
                        банка при андеррайтинге, этапы принятия решения, роль кредитного комитета. Причины
                        отказа в выдаче кредита / изменение условий кредита, оформление решения о выдаче
                        кредита.
                    </p>
                </td>
                <td valign="top">
                    <p>
                        4
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        7
                    </p>
                </td>
                <td valign="top">
                    <p>
                        <strong>Андеррайтинг предмета залога</strong>
                    </p>
                    <p>
                        Виды залога: готовое приобретаемое / имеющееся жилье, доли, комнаты, право требования,
                        коммерческий объект, земля. Требования банка к разным видам залога. Залог несовершеннолетним
                        собственником. Документы по залогу: перечень по разным видам залога. Андеррайтинг
                        залога банком: этапы, заключение о результатах, взаимодействие с оценщиком (требования
                        к отчету об оценке), со страховщиком.
                    </p>
                </td>
                <td valign="top">
                    <p>
                        4
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        8
                    </p>
                </td>
                <td valign="top">
                    <p>
                        <strong>Оформление ипотечной сделки, регистрация обременения, расчеты по сделке
                        </strong>
                    </p>
                    <p>
                        Документы по ипотечному кредитованию: кредитный договор, график погашения, договор
                        ипотеки, договор залога прав, закладная, договор страхования, договор купли-продажи,
                        договор долевого участия. Значение, основные условия, требования к оформлению. Процедура
                        подготовки документов банком и заемщиком. Варианты расчета по сделкам (перевод,
                        ячейка, аккредитив, вексель). Проведение стандартной сделки. Нестандартные сделки:
                        оформление альтернативной сделки, перекредитование, уступка прав.
                    </p>
                </td>
                <td valign="top">
                    <p>
                        4
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        9
                    </p>
                </td>
                <td valign="top">
                    <p>
                        Сопровождение ипотечного кредита банком: погашение кредита, рефинансирование, работа
                        с проблемными кредитами
                    </p>
                    <p>
                        Мониторинг ипотечных кредитов: понятие, содержание. Прием платежей по кредиту. Досрочное
                        погашение кредита: источники, изменение графика при досрочном погашении. Полное
                        погашение кредита и снятие обременения. Исполнение иных условий договоров (кредитного,
                        ипотеки): страхование, контроль состояния залога, перепланировки, замена должника.
                        Рефинансирование: понятие, обязанности банка и заемщика, проблемы. Неисполнение
                        условий кредитного договора должником: программы реструктуризации, досудебное и
                        судебное урегулирование, схемы АИЖК.
                    </p>
                </td>
                <td valign="top">
                    <p>
                        4
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        10
                    </p>
                </td>
                <td valign="top">
                    <p>
                        <strong>Налогообложение на рынке ипотечного кредитования </strong>
                    </p>
                    <p>
                        Налогообложение при проведении сделки с недвижимостью. Получение налогового вычета.
                        Налогообложение при продаже собственного жилья в счет первоначального взноса.
                    </p>
                </td>
                <td valign="top">
                    <p>
                        2
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                </td>
                <td valign="top">
                    <p>
                        ИТОГО ТЕОРЕТИЧЕСКАЯ ЧАСТЬ
                    </p>
                </td>
                <td valign="top">
                    <p>
                        32
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                </td>
                <td valign="top">
                    <p>
                        Итоговый контроль
                    </p>
                </td>
                <td valign="top">
                    <p>
                        1
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        Б)
                    </p>
                </td>
                <td valign="top">
                    <p>
                        ПРАКТИЧЕСКАЯ ЧАСТЬ
                    </p>
                </td>
                <td valign="top">
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>
                        11
                    </p>
                </td>
                <td valign="top">
                    <p>
                        <strong>Ипотечные продукты кредитных организаций</strong>
                    </p>
                </td>
                <td valign="top">
                    <p>
                        36
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                </td>
                <td valign="top">
                    <p>
                        ИТОГО ПРАКТИЧЕСКАЯ ЧАСТЬ
                    </p>
                </td>
                <td valign="top">
                    <p>
                        36
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                </td>
                <td valign="top">
                    <p>
                        Итоговый контроль
                    </p>
                </td>
                <td valign="top">
                    <p>
                        1
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="top">
                </td>
                <td valign="top">
                    <p>
                        ИТОГО по курсу
                    </p>
                </td>
                <td valign="top">
                    <p>
                        70
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    