@model dynamic

@{
    ViewBag.Title = "Выездное обучение";
    Layout = "TrainingCenterLayout.cshtml";
}

<h1>
    Выездное обучение
</h1>
<p>
Сотрудники и преподаватели учебного центра выезжают для проведения программ подготовки риэлторов и проведения курсов повышения квалификации в города Хабаровского края и Дальнего Востока.     
</p>
