@model dynamic

@{
    ViewBag.Title = "Разработка обучающих программ";
    Layout = "TrainingCenterLayout.cshtml";
}
<h1>
    <b>Разработка обучающих программ / тренингов по Вашим заявкам.</b>
</h1>
<p>
Учебный центр готов разработать программы / тренинги под потребности Вашего бизнеса, учесть актуальные вопросы обучения именно Вашего персонала.
</p>